[2015-01-22 12:20] jshlee opened #53 "dataset management"
using either JSON or xml to bind dataset/reference, globaltags, cfg/cross section info, number of events

be able to be read by analysis and crab submitting scripts /and displayed on web if possible

[2015-01-28 12:12] jshlee opened #57 "corrections on the fly"
add corrections on the fly features

[2015-01-28 12:36] jshlee opened #58 "jan mc production"
list of mc samples to be added

[2015-01-28 12:55] kuyoun commented on #58
phys14 samples:

/TTJets_MSDecaysCKM_central_Tune4C_13TeV-madgraph-tauola/Phys14DR-PU20bx25_PHYS14_25_V1-v1/

/DYJetsToLL_M-50_13TeV-madgraph-pythia8/Phys14DR-PU20bx25_PHYS14_25_V1-v1/

/T_tW-channel-DR_Tune4C_13TeV-CSA14-powheg-tauola/Phys14DR-PU20bx25_PHYS14_25_V1-v1/

/Tbar_tW-channel-DR_Tune4C_13TeV-CSA14-powheg-tauola/Phys14DR-PU20bx25_PHYS14_25_V1-v1/

/WJetsToLNu_13TeV-madgraph-pythia8-tauo

[2015-01-28 14:50] jshlee commented on #58
what about the samples for ttbb?

[2015-01-28 14:55] monttj commented on #58
ttbb is currently extracted from ttbar sample.
it will be improved if we have exclusive ttbar + 2 jets sample in the future, which I am hoping.

[2015-01-28 14:57] geonmo commented on #58
Which CMSSW version shall we use? CMSSW_7_2_2_patch1 like "Readme.md"?

[2015-01-28 15:02] jhgoh commented on #58
@kuyoun, for clearness, CSA14 keyword in single top sample are ignorable and they are valid Phys14 samples, right?

[2015-01-28 15:04] geonmo commented on #58
@jhgoh As I know, Yes. These singletop sample are valid Phys14 samples.

[2015-01-28 15:04] kuyoun commented on #58
I am going to use 720 which is used for Phys14 generation. tW sample named CSA14, but also named Phys14. We can use them. That is only tW sample that I know.

[2015-01-28 15:04] jshlee commented on #58
if its going to be run on miniaod, the cmssw doesnt matter too much

[2015-01-28 15:09] jhgoh commented on #58
Before submitting it, I would like to suggest to do test with background samples such as DY and single top.
PseudoTop is supposed to be OK with non-ttbar cases, but need testing.

[2015-01-28 15:11] jshlee commented on #58
yep, i think its a good idea
we should test a bit then start production tomorrow or so

[2015-01-28 15:13] jshlee commented on #58
also, a list of triggers needed would be good

[2015-01-28 15:18] geonmo commented on #58
On KISTI, DY sample is already transferred but singtops are not existed.
I will request a phedex these miniaod samples tomorrow if no one reject.

[2015-01-28 16:05] kuyoun commented on #58
Yes, please. FYI, I requested all AODSIM samples(DY, tW, tbarW, WJ).

[2015-01-29 12:13] jshlee opened #61 "documentation"
wiki maintenance
https://www.cms-kr.org/twiki/bin/view/Computing/CATTools/WebHome

[2015-01-29 12:48] geonmo commented on #58
DY test with PR#59, (DY miniAOD : 56 files / 2015/01/29 )
32/56 failed , 24/56 Success. ( xrootd fallback problem.)
It was reported at Computing Resource meeting already. However, I will report again using email to Dr.Bae.

[2015-01-29 12:52] geonmo commented on #58
Each file have 100k events and  "Real 32min / User  9min" is consumed for each file.
So, I caculated that total time of 1 cattupling(from miniAOD) will be spent 480 hours(1 file : 30min).

[2015-01-29 15:53] geonmo commented on #58
I found my mistake to confuse directory(previous one).
Each file have 50k events and time elapsed "Real 9 min / user 6 min"
I re-run test shot for DY and WJets to check. Please, ignore above test result and error.

[2015-01-29 16:49] jshlee commented on #58
did you run it on crab3 or locally?

[2015-01-30 02:29] geonmo commented on #58
I ran this tests using create-batch.
All of jobs are successfully completed.

[2015-02-01 02:26] kuyoun commented on #58
Production with AOD samples are done:
catTuples are stored at kisti:
/cms/data/xrd/store/user/youn/cat700_phy14_tw_2025_aod
/cms/data/xrd/store/user/youn/cat700_phy14_dy_2025_aod
/cms/data/xrd/store/user/youn/cat700_phy14_tbw_2025_aod
/cms/data/xrd/store/user/youn/cat700_phy14_wj_2025_aod
/cms/data/xrd/store/user/youn/cat700_phy14_ttbar_2025_aod

[2015-02-01 15:05] jshlee commented on #58
can you send this message also to cat-tools@cern.ch

[2015-02-02 08:36] geonmo commented on #58
Prudction with miniAOD Samples are completed.
Location of CATNtuples at KISTI :
/cms/data/xrd/store/user/geonmo/cat700_phy14_tw_2025_miniaod
/cms/data/xrd/store/user/geonmo/cat700_phy14_dy_2025_miniaod
/cms/data/xrd/store/user/geonmo/cat700_phy14_tbw_2025_miniaod
/cms/data/xrd/store/user/geonmo/cat700_phy14_ttbar_2025_miniaod
/cms/data/xrd/store/user/geonmo/cat700_phy14_wj_2025_miniaod

[2015-02-02 15:49] jhgoh commented on #58
I asked to Chanwook and Donghyun to make some root macro(chanwook) and EDAnalyzer(donghyun) for their exercise.
Then we can make those output for the validation in the future.

[2015-02-03 17:09] dhkim81 opened #71 "Lepton Isolation"
Dear Members.

I received a new 'catTuple_790.root' file.
Opened and check variable plots with Dr.Goh
We found strange Iso files( please refer to plots below )

If you know or have information about Iso plots, please tell us.

-Dong-

![chargedhadroniso](https://cloud.githubusercontent.com/assets/6439809/6024901/f9d221de-abce-11e4-9cae-a74c505502ce.png)
![neutralhadroniso](https://cloud.githubuser

[2015-02-03 17:40] jshlee commented on #71
Hi Donghyun,

The iso for 0.3 is not filled because they are not present in miniAODs.
Can you use 0.4 for now.

Cheers,
Jason.

On 3 Feb 2015, at 6:09 pm, DongHyun Kim <notifications@github.com<mailto:notifications@github.com>> wrote:

Dear Members.

I received a new 'catTuple_790.root' file.
Opened and check variable plots with Dr.Goh
We found strange Iso files( please refer to plots below )

If

[2015-02-03 19:07] jshlee commented on #71
Hi Donghyun,

I don’t know why the ntuple you have is not working…
Can you try one from our latest production which are located at Kisti.

/cms/data/xrd/store/user/geonmo/cat700_phy14_tw_2025_miniaod
/cms/data/xrd/store/user/geonmo/cat700_phy14_dy_2025_miniaod
/cms/data/xrd/store/user/geonmo/cat700_phy14_tbw_2025_miniaod
/cms/data/xrd/store/user/geonmo/cat700_phy14_ttbar_2025_miniaod
/cms/data/xrd

[2015-02-03 20:14] dhkim81 commented on #71
Dear Jason.

thanks for your comment.
I used 0.4
And then, i will try to data on the Kisti.
Thanks

regards,
Dong

---

From: Jason Lee [notifications@github.com]
Sent: 03 February 2015 18:40
To: vallot/CATTools
Cc: Dong Hyun Kim
Subject: Re: [CATTools] Lepton Isolation  (#71)

Hi Donghyun,

The iso for 0.3 is not filled because they are not present in miniAODs.
Can you use 0.4 for now.

Cheers,
J

[2015-02-03 20:15] dhkim81 commented on #71
Thanks
I will try this data

regards,
Dong

---

From: Jason Lee [notifications@github.com]
Sent: 03 February 2015 20:07
To: vallot/CATTools
Cc: Dong Hyun Kim
Subject: Re: [CATTools] Lepton Isolation  (#71)

Hi Donghyun,

I don’t know why the ntuple you have is not working…
Can you try one from our latest production which are located at Kisti.

/cms/data/xrd/store/user/geonmo/cat700_phy14_tw_2025_

[2015-02-03 20:42] dhkim81 commented on #71
Dear Jason.

This plot used 0.4.
Thanks

regards,
Dong

[2015-02-03 22:52] jhgoh commented on #71
The root file was copied from kisti at some point, but I don't remember what it was actually.
Maybe it was from the previous production campaign, let me check once again.

[2015-02-03 23:18] jhgoh commented on #71
It seems something strange happened with Donghyun's configuration.
With my configurations, isolation distribution looks quite reasonable.

BTW, He was opening new catTuple with old CATTools environment (before merging new DataFormats). Could this corrupt event content? I don't know how this can happen but just for a possibility.

@dhkim81 could you open the same file after clear setup?

[2015-02-03 23:27] jhgoh opened #72 "PseudoTop in SingleTop sample"
I asked Chanwook to have a look on the pseudoTop in catTuple.
From his observation, pseudoTop with negative charge are not correctly filled in the event in case of single top sample (tw channel).

Currently pseudoTop producer is implemented just for the top pair production and the behavior for non-ttbar case are ill-defined.

Currently we will ignore all output from non-ttbar samples, but we need

[2015-02-03 23:40] jshlee commented on #71
I don’t think it can effect the event content. Accessing the variables through the classes with an old format might.
Here is the distributions I see for the samples made by prod 700 without cmsenv setup.

On 4 Feb 2015, at 12:18 am, Junghwan John Goh <notifications@github.com<mailto:notifications@github.com>> wrote:

It seems something strange happened with Donghyun's configuration.
He was opening

[2015-02-03 23:52] jhgoh commented on #71
Missing attachment maybe, but from the experiences, I believe we must see same distributions with and without FWLite.

I wanna leave this issue 2B opened until this afternoon. There could be some hints for corruption.

[2015-02-04 00:13] jshlee commented on #71
I attached them as eps, I guess git can’t handle them.
Here are the pdfs.
Can you let us know where you got this file from?
Also, does Donghyun see the correct distribution without FWLite?

On 4 Feb 2015, at 12:52 am, Junghwan John Goh <notifications@github.com<mailto:notifications@github.com>> wrote:

Missing attachment maybe, but from the experiences, I believe we must see same distributions wit

[2015-02-04 00:27] jhgoh commented on #71
Still no image, but doesn't  matter at all.
Regarding on the root file, I directly copied that file from kisti, xrd cp, in my desktop in B588 (cmskr-002-00:/store1/jhgoh/catTuple_790.root you can scp with your lxplus account.)
Dong scp-ed it from my desktop.

I cannot reproduce Dong's problem. Nothing strange to me.
But at the moment when I checked plots with him with his account/env at lxplus, is

[2015-02-04 00:30] jshlee commented on #71
That is weird... Which commit was he using?

On 4 Feb 2015, at 1:27 am, Junghwan John Goh <notifications@github.com<mailto:notifications@github.com>> wrote:

Still no image, but doesn't matter at all.
Regarding on the root file, I directly copied that file from kisti, xrd cp, in my desktop in B588 (cmskr-002-00:/store1/jhgoh/catTuple_790.root you can scp with your lxplus account.)
Dong scp-ed it f

[2015-02-04 10:12] jshlee opened #73 "gen matching"
For cat53x, I kept the pointers to the recoGenJet collection matched during the patJet process.
Currently catGenJet has more information on the genJet, i.e. partonFlavour and partonPdgId.

Shall we keep the recoGenJet collection or use catGenJet and save pointers to catJets.
Shall we also do the same for leptons to genParticles.

Also, for the pseudoTop and partonTop collections, if only the 4vect

[2015-02-04 12:04] jshlee opened #74 "catEvent class?"
should we have a class for event info?
i.e. pdfweight, pileup weight, and triggers

[2015-02-04 12:42] kuyoun commented on #58
ee:
HLT_Ele23_Ele12_CaloId_TrackId_Iso_v1
mm:
HLT_Mu17_TrkIsoVVL_TkMu8_TrkIsonVVL_v1
em:
HLT_Mu23_TrkIsoVVL_Ele12_Gsf_CaloId_TrackId_Iso_MediumWP_v1
HLT_Mu8_TrkIsoVVL_Ele23_Gsf_CaloId_TrackId_Iso_MediumWP_v1

[2015-02-04 13:41] gbyu commented on #58
Trigger path in Phys14 dataset is just same with the 8TeV datasets unless running step2 manually.

Thereby,
mu+jets: HLT_IsoMu24_eta2p1_v
e+jets: HLT_Ele27_WP80_v

[2015-02-04 13:47] jshlee commented on #58
all triggers have been added in my pull request

[2015-02-04 16:34] jhgoh commented on #71
So, we can conclude this is due to wrong version of library in Dong's working directory.
I'm closing this issue.

[2015-02-04 16:34] #71 closed, assigned to nobody

[2015-02-04 16:47] jhgoh commented on #74
A container for the event variables can be made easily.
But I don't have trivial solution for trigger information. Of course one can store trigger names + results as member variables, but isn't it waste of event size to keep same names for each events?

Anyway, I think it is still worth to pack up pv info + weight variables. I'm working on that now.

[2015-02-04 16:57] jhgoh commented on #74
Um... thinking more on this.. PDFWeight, pileup weight, trigger info are produced from different producers thus it is impossible to put them in one object.
Need unified producer if it is really needed but then the producer will be just a giant...

[2015-02-04 17:09] jhgoh commented on #73
Regarding on the pseudoTop and partonTop collection, it has more function : mother-daughter associations. Thus one can select hadronically decaying W and leptonically (or tau) decaying W and so on.

[2015-02-04 18:37] jshlee commented on #74
i think the triggers as they are fine, but instead of a boolean, I want to change it to the prescale value.
For now, lets concentrate on more pressing matters

[2015-02-04 18:49] jshlee opened #75 "cat object cuts and selections"
I assume no one is using taus or photons.
If so can we remove them.

Also, for jets and other leptons, should we place any cuts on them?

[2015-02-04 18:50] jshlee commented on #74
i think we can close this

[2015-02-05 07:27] jhgoh commented on #75
-1
Taus and photons : TJ has some plans to use it.
Jets and leptons : Cuts can be changed.

We may go in different direction. If catTuple is aiming to top-oriented dataformat, we can introduce event/object selections and top specific tunings. I still think this is practically better but at least in this early runs, there will be some benefit to keep current structure.

[2015-02-09 13:54] #74 closed, assigned to nobody

[2015-02-09 16:14] jshlee opened #77 "configuration layout"
I wish to change the configuration layout so that everyone is happy with it.

currently PAT2CAT_cfg.py (was runCat_cfg.py) calls
CATTools.CatProducer.catTemplate_cfg
CATTools.CatProducer.catSetup_cff

I propose the new PAT2CAT_cfg.py to call
 CATTools.CatProducer.catTemplate_cfg

then a catPATSequences_cff (name tba) with runOnMC and useMiniAOD as inputs
to configure all the PAT stuff

then a catS

[2015-02-09 16:22] jshlee commented on #75
I would prefer catTuples to be more robust and analysis independent, so that it can be used by more people.
It seems like a lot of analysis users want a flat ntuple at the end anyways, and i feel like some of the processes can really go there.

[2015-02-11 13:41] jhgoh opened #79 "Possible bug in GenTop.cc"
(Already known though mailing list, but posting here for tracking)

https://github.com/vallot/CATTools/blob/cat72x/DataFormats/src/GenTop.cc#L426

[code]

Finds 'lastB' from begin() to begin(), seem to be a typo.
If it is intended, simply mapJetToBHadrons[idx].begin() == lastB is enough.

[2015-02-12 14:19] YoungKwonJo opened #83 "about HLT"
In CatProducer/python/recoEventInfo_cfi.py
+++
        DoubleMu = cms.vstring(
            "HLT_Mu17_Mu8_v_", "HLT_Mu17_TkMu8_v_","HLT_Mu17_TrkIsoVVL_TkMu8_TrkIsonVVL_v_"
        ),
+++
I would like to separate the HLT as like followings.
++++
        DoubleMu = cms.vstring(
            "HLT_Mu17_Mu8_v_", "HLT_Mu17_TkMu8_v_"
        ),
        DoubleMuIso = cms.vstring(
            "HLT_Mu17_TrkIs

[2015-02-12 16:38] jshlee commented on #83
yep, separating is fine
even having each trigger individual is fine for me
I was thinking whether if we should save the prescale value for the trigger instead of the boolean.
Also, to do trigger studies, wouldn't you need single muon triggers as well?

[2015-02-12 16:44] jhgoh commented on #83
No problem to add separate name, rather it's better.
Combination of multiple prescaled paths is non-trivial. Must be separated or allow only one prescaled path among mult-paths. Reasonable?

[2015-02-12 16:44] jshlee commented on #79
@YoungKwonJo do you know whats going on with this?
Is anyone planing to validated this with new MC or pruned genParticles?

[2015-02-12 16:49] jshlee commented on #83
@YoungKwonJo can you do the pull request.
Yes, the combining prescale of triggers is not reasonable unless they are == 1.

[2015-02-12 16:51] jhgoh commented on #57
Since the JES/JER uncertainty routine is going to be changed, this can be also added to CATJetProducer.

[2015-02-12 17:02] jshlee commented on #57
yep and we should do the same for the leptons.
I guess this depends on how quickly people want the corrections to be done.
corrections during cattuple->cattuple or cattuple->flat ntuple would be the fastest.

[2015-02-13 01:05] YoungKwonJo commented on #83
Current, my solution is the pull. however, we may need to think for more good solution.

https://github.com/vallot/CATTools/pull/85

And, we need to check the triggers as MuJet and ELJet.
The values are all zero in the dataset in my test-sample.
int                            "recoEventInfo"             "HLTMuEl"         "CAT"
int                            "recoEventInfo"             "HLTMuJet"

[2015-02-13 09:00] jshlee commented on #77
Since no one has replied, I'll go a head with this.

[2015-02-13 09:01] jshlee commented on #58
closing this since we are starting a feb production

[2015-02-13 09:01] #58 closed, assigned to geonmo

[2015-02-13 09:46] monttj commented on #77
The option, "runOnMC" and "useMiniAOD" should be in PAT2CAT_cfg.py.

[2015-02-13 09:51] jshlee commented on #77
yep, they are in PAT2CAT_cfg.py as VarParsing inputs from command line (defaults are both set to true)

[2015-02-13 10:22] #83 closed, assigned to nobody

[2015-02-13 10:29] YoungKwonJo commented on #79
https://github.com/vallot/CATTools/blob/cat72x/DataFormats/src/GenTop.cc#L426
         vector<const reco::Candidate*>::iterator it = find ( mapJetToBHadrons[idx].begin(), mapJetToBHadrons[idx].end(), lastB );

https://github.com/vallot/CATTools/blob/cat72x/DataFormats/src/GenTop.cc#L436
        vector<const reco::Candidate*>::iterator it = find ( mapJetToCHadrons[idx].begin(), mapJetToCHadrons[idx

[2015-02-13 10:34] jhgoh commented on #79
Yes, I was just waiting for @monttj 's answer.

[2015-02-13 14:58] YoungKwonJo opened #87 "isolation30 of lepton"
https://github.com/vallot/CATTools/blob/cat72x/CatProducer/plugins/CATMuonProducer.cc#L109
https://github.com/vallot/CATTools/blob/cat72x/CatProducer/plugins/CATElectronProducer.cc#L126

The code has to make chIso03, nhIso03, phIso03, puIso03.
However, the all-vaules for muon and electron are "-1" in catTuple(my test sample).
Please, check the part. I can't find the solution.

for more information

[2015-02-13 15:25] monttj commented on #87
You need a little tweak in PAT sequence.

https://github.com/vallot/CATTools/blob/72X_v1/CatProducer/python/Tools/tools.py#L49

It can be done in upstream.

Since current workflow seems to follow miniAOD not the standard PAT sequence alone,
you need to touch the PAT sequence here.
https://github.com/cms-sw/cmssw/blob/CMSSW_7_4_X/PhysicsTools/PatAlgos/python/slimming/miniAOD_tools.py

Can you try t

[2015-02-16 07:00] jshlee commented on #87
my newest pr (https://github.com/vallot/CATTools/pull/88) has iso03 in for both electrons and muons when run on AODs

[2015-02-20 15:56] jhgoh commented on #72
Now the plan is to move PsuedoTopProducer to TQAF. Next development should go there.
I'm closing this issue.

[2015-02-20 15:56] #72 closed, assigned to jhgoh

[2015-02-20 16:51] jshlee commented on #72
what is TQAF?

[2015-02-20 18:21] jhgoh commented on #72
TopQuarkAnalysisFramework in official CMSSW.

[2015-02-24 12:25] jshlee commented on #87
i'll close this once the pr is merged unless anyone else has any comments.

[2015-02-25 03:36] YoungKwonJo opened #90 "how to add c-tag?"
main twiki for ctag
https://twiki.cern.ch/twiki/bin/viewauth/CMS/BTagCTagger

talk 1(Dec. 2014)
https://indico.cern.ch/event/357463/session/0/contribution/4/material/slides/0.pdf
last talk 2 (29 January 2015)
https://indico.cern.ch/event/369384/session/1/contribution/11/material/slides/0.pdf
note
http://cms.cern.ch/iCMS/jsp/openfile.jsp?tp=draft&files=AN2012_441_v4.pdf

atlas note
http://cds.cern.

[2015-02-25 06:16] YoungKwonJo commented on #87
I agree to close this issue.

[2015-02-25 09:24] #87 closed, assigned to nobody

[2015-02-25 09:28] jshlee commented on #90
We can add it if you need it now.
Or we can wait for it to become official.
If it is to be saved together with the bDiscriminator pairs, it will automatically be added in cat without any code changes.

[2015-02-25 12:31] jhgoh opened #91 "V7-1-1 Feb MC production"
Starting MC production with V7-1-1
- CMSSW_7_2_3? 73X? 74X?
  - Phys14 sample is produced with 72X
  - Need testing if we want to use 73X or later. - need volunteer
  - Phys14 not works with 75X (comment from @jshlee)
- Expecting 2 days to finish

Issues to be merged
- Isolation 03 issue #87 @jshlee
- HLT configuration #89

Issues not going into this production
- c-tagging #90 - N/A in CMS, future

[2015-02-25 12:34] jhgoh commented on #91
Action items:
1. Dr. Yu - check HLT, follow links
2. @jshlee merge tags
3. Dr. Roh - validation
4. Proceed to production

(correct me if I'm wrong)

[2015-02-25 12:36] #77 closed, assigned to nobody

[2015-03-03 12:26] YoungKwonJo commented on #79
In GenTop, This is for genParticle part.
https://github.com/vallot/CATTools/blob/cat72x/DataFormats/src/GenTop.cc#L61
This is for genJet part.
https://github.com/vallot/CATTools/blob/cat72x/DataFormats/src/GenTop.cc#L366
We can see the genJet with b/c hardron in matching.
However (I guess) I couldn't found code about matching between bquark of genparticle and genJet.

I find a presentation at (Thu

[2015-03-03 12:44] jshlee commented on #79
currently, catJet has hadron and parton flavour matching done
https://github.com/vallot/CATTools/blob/cat72x/DataFormats/interface/Jet.h#L39-L40

plus a link to it's genjet https://github.com/vallot/CATTools/blob/cat72x/DataFormats/interface/Jet.h#L75

I don't quite follow your proposal.
Also, it doesn't fix issue.

[2015-03-03 12:48] YoungKwonJo commented on #79
I mean about genJet, not Jet(Reco).
Because the genJet with matching b or b-hadron is very important for ttbb signal definition.

Perhaps, I would like to find a easy way for ttbb signal definition without genTop or with updated genTop.

[2015-03-03 12:54] jshlee commented on #79
yep but currently only slimmedGenJets is saved because catJets have links to them
you can covert these into catGenJets and relink the catJets to the new collection

[2015-03-03 13:15] jhgoh commented on #79
@YoungKwonJo, is it a request for new features?
Still, the question remains as unanswered.
Question : is the begin() to begin() intended one or a bug?
To finalize this issue, I'll submit new PR.

[2015-03-03 13:40] kuyoun commented on #91
Dear all,

v7-1-1 prodution is done.

/cms/data/xrd/store/user/youn/tag711_phy14_tbw_2025_aod
/cms/data/xrd/store/user/youn/tag711_phy14_tw_2025_aod
/cms/data/xrd/store/user/youn/tag711_phy14_dy_2025_aod
/cms/data/xrd/store/user/youn/tag711_phy14_ttbar_2025_aod
/cms/data/xrd/store/user/youn/tag711_phy14_wj_2025_aod

[2015-03-03 13:51] YoungKwonJo commented on #79
Yes, it is for new features.

[2015-03-04 02:08] YoungKwonJo commented on #79
1.
I would like to change my comment in previous comments.

I find the code for matching between bquark of genparticle  and genJet.
https://github.com/vallot/CATTools/blob/cat72x/DataFormats/src/GenTop.cc#L380

2.
And, I would like to change the genJetLabel from "ak4GenJets"  to "ak4GenJetsNoNu".
https://github.com/vallot/CATTools/blob/cat72x/CatProducer/python/genTopProducer_cfi.py#L5

cf. https:

[2015-03-04 07:51] jhgoh commented on #79
Changing the GenTop is up to the people involved in ttbb analysis.
Adding new feature like genParticle-genJet association is simply an addition, but changing the input collection to *GenJetsNoNu will introduce physics change. It must be discussed during the meeting.
I think there is freedom to to include neutrinos or not in your physics analysis, but there must be some common selections.
Using gen

[2015-03-04 07:55] jhgoh commented on #91
@dhkim82 (or somebody else) could you produce some comparison plots to the previous production?
You can use the analyzer module (https://github.com/vallot/CATTools/blob/cat72x/CatAnalyzer/plugins/CATHisAnalysis.cc) what you added into the CATTools.

[2015-03-04 12:15] YoungKwonJo commented on #79
If we think visible phase space selection, (I guess) using GenJetNoNu can be good option.

[2015-03-06 12:09] kuyoun commented on #91
Full set of ttbar is ready in the following directory
/cms/data/xrd/store/user/youn/tag711_ttbar_2025_aod

[2015-03-11 12:45] YoungKwonJo commented on #79
new feature for GenTop,
 http://cms.cern.ch/iCMS/jsp/db_notes/noteInfo.jsp?cmsnoteid=CMS%20AN-2014/093

[2015-03-12 16:55] jhgoh commented on #79
@YoungKwonJo  There's new PR in main CMSSW to switch genJet without neutrinos.
https://github.com/cms-sw/cmssw/pull/8214
which advocates your opinion.

[2015-03-12 17:01] jshlee commented on #79
looks like a string search and replace in all cmssw
would have been better to redefine genJets as genJetsNoNu

[2015-04-08 13:34] YoungKwonJo opened #97 "about mc-matched of catmuon"
https://github.com/vallot/CATTools/blob/cat72x/CatProducer/plugins/CATMuonProducer.cc#L127

I guess we just keep a boolean about matched/ un-matched.
We don't keep the index of genparticle as matched with muon.

If we add the index in catMuon, (I guess ) we have to update the code.
or, in catMuon ,we add(make) a 4-vector for genparticle as like a code in page 7 of the slides.
https://indico.cern.c

[2015-04-08 14:57] jhgoh commented on #97
Ref to genParticle is set here:
https://github.com/vallot/CATTools/blob/cat72x/CatProducer/plugins/CATMuonProducer.cc#L126

Also, this "MCMatching" is dR & dPt matching to muons from W/Z decay.
https://github.com/vallot/CATTools/blob/cat72x/CatProducer/plugins/CATMuonProducer.cc#L165

[2015-04-20 08:38] jhgoh opened #98 "74X porting"
Run II data taking will be done with 74X release.
We have to consider porting to 74X and corresponding MiniAOD versions.

[2015-04-20 08:59] jshlee commented on #98
i did start this, but didnt finish yet.

[2015-04-20 09:10] jhgoh commented on #98
Good to know. In fact, @kuyoun said she is about to start to do it.

[2015-04-20 09:13] jhgoh commented on #91
Production have finished quite long ago, but no tracking here. Can we conclude the production is completed and successful?
We don't have any kind of validation reports associated with the issue tracking.

[2015-04-20 09:40] dhkim81 commented on #91
I forget to make validation reports about production.
Do we have newest production? or If you have newest production, please tell me where can i find them.

[2015-04-20 12:05] jshlee commented on #98
i've made a cat75x branch which works with 74x and should also work with 75x

[2015-04-21 06:42] jhgoh commented on #91
We are not planning for new production yet.
But it will be useful to have validation plots for this production for historical purpose and workflow testing.

[2015-04-21 06:43] jhgoh commented on #79
This issue somehow moved to different direction. Anyway, I'm closing this issue.

[2015-04-21 06:43] #79 closed, assigned to nobody

[2015-07-17 07:17] jshlee commented on #98
done so i'll close this

[2015-07-17 07:17] #98 closed, assigned to nobody

[2015-07-17 07:18] jshlee commented on #97
closing - reopen if this is still an issue

[2015-07-17 07:18] #97 closed, assigned to nobody

[2015-07-17 07:18] jshlee commented on #91
closing - reopen if this is still an issue

[2015-07-17 07:18] #91 closed, assigned to nobody

[2015-07-17 07:18] jshlee commented on #75
closing - reopen if this is still an issue

[2015-07-17 07:18] #75 closed, assigned to nobody

[2015-07-17 07:19] jshlee commented on #73
closing - reopen if this is still an issue

[2015-07-17 07:19] #73 closed, assigned to nobody

[2015-07-17 07:19] jshlee commented on #57
closing - reopen if this is still an issue

[2015-07-17 07:19] #57 closed, assigned to nobody

[2015-07-24 09:21] jshlee opened #120 "vertex size"
Hi All,

Currently the vertex size is quite significant as shown below.
Since we dont really need all this information, I was wondering if we can reduce this by either just saving a bool for good vertex or having a catVertex class.

Branch Name | Average Uncompressed Size (Bytes/Event) | Average Compressed Size (Bytes/Event)
recoGenParticles_prunedGenParticles__PAT. 9174.64 1789.08
catJets_catJets

[2015-08-03 13:09] jshlee opened #121 "needed updates for 13TeV"
*triggers
*systematics
*pileup info
*pdf

for the triggers and systematics, it would be good if the people responsible for each pog update the code or point me to the relevant information.

For the pdf, @jhgoh can you update this please?

i guess we should discuss some of this next meeting.

[2015-08-05 17:07] jshlee opened #129 "genJetFlavourPlusLeptonInfos warning"
@YoungKwonJo or @jhgoh can you fix this?

%MSG-w Configuration:  JetFlavourClustering:genJetFlavourPlusLeptonInfos@ctor  05-Aug-2015 19:05:26 CEST pre-events
Warning:
    string jets = "AntiKt"
is deprecated, please update your config file to use
    InputTag jets = AntiKt
%MSG

[2015-08-05 17:16] jhgoh commented on #129
Some typos. Fixing it.

[2015-08-05 18:49] jshlee commented on #129
@YoungKwonJo, why do u clone the same object?

[2015-08-05 20:04] jshlee commented on #120
closing this since we reduced the vertex size

[2015-08-05 20:04] #120 closed, assigned to nobody

[2015-08-05 20:11] jhgoh commented on #129
This was solved. closing this issue.

[2015-08-05 20:11] #129 closed, assigned to nobody

[2015-08-05 20:15] jhgoh commented on #121
- PDF - updated to NNPDF3.0. Not sure on validity of re-weighting method but at least we have some info.
- Pileup - use number of reco::Vertex.

[2015-08-05 20:41] jshlee commented on #121
- triggers are updated and now are saved individually

[2015-08-07 14:15] geonmo opened #140 "Add hep-tools submodule to replace CatAnalyzer/scripts."
Hello, everyone.

Some scripts are duplicated at hep-tools repository and CATTools.

I think that CatAnalyzer/scripts can be replace to use submodule.

What do you think?

[2015-08-07 14:20] jhgoh commented on #140
-1. hep-tools and CATTools shares create-batch but there are other scripts which are not in common set.

[2015-08-07 14:25] geonmo commented on #140
@jhgoh Do you think that other scripts are not useful for CAT user at hep-tools?

[2015-08-07 16:23] jhgoh commented on #140
We had some discussion on this.
hep-tools can be added as a submodule, best place to host it seem to be CommonTools/scripts.

[2015-08-07 22:51] geonmo commented on #140
It is completed. Close this issue.

[2015-08-07 22:51] #140 closed, assigned to geonmo

[2015-08-10 13:10] jhgoh opened #144 "Inherit from reco::Candidate"
cat::MET in the recent catTuple is not inherited from the reco::Candidate.
This prevents GenericNtupler to work with this object.

[2015-08-10 13:20] jshlee commented on #144
since met didnt use most of the variables... i thought this would be better...

[2015-08-10 14:18] jhgoh commented on #144
Trying to estimate size changes with and without reco::Candidate...

[2015-08-10 14:22] jhgoh opened #146 "Error while producing catTuple from RelVal sample"
"GenMETExtractor" module tries to read slimmedMETs::PAT but the slimmedMET was produced with "RECO" process name.

[code]

Adding

[code]

solves the problem but this is just a temporary solution.
Any suggestions?

[2015-08-10 14:27] jhgoh commented on #144
Here's the event size with and without reverting to reco::Candidate.
Compressed size is doubled, 20 -> 40, but is this that large?
Inheriting from reco::Candidate is necessary to use StringCutParser.

[code]

[code]

[2015-08-10 14:45] geonmo commented on #146
I think that this suggestion is best for us.
Could you make a PR for this?

[2015-08-10 14:47] jhgoh commented on #146
can we assume slimmedMETS::RECO for all samples? The production worked with slimmedMETs::PAT right?

[2015-08-10 14:53] geonmo commented on #146
Well, I think that this feature can be handled with MiniAOD option at cmsRun option.
Is it wrong?

[2015-08-10 15:02] jshlee commented on #146
the problem is that prompt uses reco and rereco uses PAT...

looking at the problem.. patPFMet shouldnt be calling slimmedMETs
i'll have a look into it.

[2015-08-10 15:47] #144 closed, assigned to nobody

[2015-08-10 19:29] geonmo commented on #53
To support Xsec information is required next release.

[2015-08-10 19:36] jshlee commented on #53
can you document this in the twiki?
or we can add in a file list in the analyser dir

[2015-08-10 20:11] geonmo opened #149 "Keep GenInfoProduct to save cross section information.(auto or external)"
Related TWiki page : https://twiki.cern.ch/twiki/bin/view/CMS/CMS-DBS-Cross-Section

As above link, ROOT files keep Xsec information at its "Run".

I did not test this feature. However, if it works, it is better to keep GenInfoProduct at CATTools.

[code]

[2015-08-10 20:17] jhgoh commented on #149
AFAIK, this values are not recommended to be used. This value is calculated for each job sections thus based on very small statistics.

[2015-08-10 20:32] geonmo commented on #149
For #53, we need to add cross section information to CATTuple or text(JSON or xml).

I know that famous samples' info can be found on TWiki page.However, some dataset is very difficult to find the information.

On this case, the naive information can be useful for users.

[2015-08-10 21:49] jhgoh commented on #53
One possible solution is to save sample info in google spreadsheet and export to csv format.

https://docs.google.com/spreadsheets/d/1rWM3AlFKO8IJVaeoQkWZYWwSvicQ1QCXYSzH74QyZqE/edit?usp=sharing
- https://docs.google.com/spreadsheets/d/1rWM3AlFKO8IJVaeoQkWZYWwSvicQ1QCXYSzH74QyZqE/pub?gid=0&single=true&output=csv
- https://docs.google.com/spreadsheets/d/1rWM3AlFKO8IJVaeoQkWZYWwSvicQ1QCXYSzH74QyZqE/

[2015-08-11 06:40] jhgoh commented on #53
"makeFileList" is updated (with new name getDatasetInfo) to retrieve dataset information from the google doc.

[2015-08-11 11:52] jhgoh commented on #121
PU weight recipe have to be updated.

[2015-08-14 14:00] geonmo commented on #149
I will close this issue. Its cross section value is not enough for us.

[2015-08-14 14:00] #149 closed, assigned to nobody

[2015-08-14 15:01] jhgoh commented on #53
getDatasetInfo is updated. It produces simple txt formatted filelist to be used from create-batch or other tools.
JSON output can be used from the python scripts for plotting.

[2015-08-17 09:04] jhgoh opened #162 "Cleanup old branches"
There are some temporary branches
- https://github.com/vallot/CATTools/tree/geonmo-patch-1
- https://github.com/vallot/CATTools/tree/revert-123-cat75x
- https://github.com/vallot/CATTools/tree/revert-104-cat72x_MiniAOD

Can we delete them?

[2015-08-17 09:05] geonmo commented on #162
Oh, I will remove patch-1 branch.

[2015-08-18 12:22] jhgoh commented on #162
Done.

[2015-08-18 12:22] #162 closed, assigned to nobody

[2015-08-18 12:23] jhgoh opened #163 "Kinematic reconstruction"
We got codes from DESY group. Consider to port them into CMSSW or CATTools.

[2015-08-21 14:37] jshlee opened #168 "trigger matching"
i assume some analysis would need trigger matching done...
if someone would like to volunteer.

[2015-09-01 02:17] jhgoh commented on #168
Any idea on this?
I would imagine:
- Add std::vectorstd::string to store all matched trigger paths and modules to all objects
- Hard-code pre-defined trigger paths to give matching results - store deltaR(offline, trg). deltaR < 0 if unmatched.
- Add std::vector<int> to store user-defined trigger id in integer, add some interface to map int->string and string->int but this maybe too complicated

[2015-09-01 02:20] jhgoh commented on #53
I think this issue can be closed since we have google doc -> CSV -> JSON interface.

[2015-09-04 15:29] #53 closed, assigned to jhgoh

[2015-09-08 08:32] YoungKwonJo opened #182 "dataset(25ns) for MC"
/DYJetsToLL_M-50_TuneCUETP8M1_13TeV-amcatnloFXFX-pythia8/RunIISpring15DR74-Asympt25ns_MCRUN2_74_V9-v3/MINIAODSIM
/TTJets_TuneCUETP8M1_13TeV-amcatnloFXFX-pythia8/RunIISpring15DR74-Asympt25ns_MCRUN2_74_V9-v1/MINIAODSIM
/TTJets_TuneCUETP8M1_13TeV-madgraphMLM-pythia8/RunIISpring15DR74-Asympt25ns_MCRUN2_74_V9-v2/MINIAODSIM
/TT_TuneCUETP8M1_13TeV-powheg-pythia8/RunIISpring15DR74-Asympt25ns_MCRUN2_74_V9-

[2015-09-08 08:48] YoungKwonJo commented on #182
https://github.com/vallot/CATTools/blob/cat75x/CatProducer/prod/MC/prod_RunIISpring15DR74-Asympt50ns_MCRUN2_74_V9A.txt

for new as 25ns
https://github.com/vallot/CATTools/blob/cat75x/CatProducer/prod/MC/prod_RunIISpring15DR74-Asympt25ns_MCRUN2_74_V9A.txt

[2015-09-08 12:00] jhgoh commented on #163
Still in progress to port DESY code into CATTools.

[2015-09-09 05:39] YoungKwonJo commented on #182
for genTop,
/TTJets_TuneCUETP8M1_13TeV-amcatnloFXFX-pythia8/RunIISpring15DR74-Asympt25ns_MCRUN2_74_V9-v1/AODSIM

/TTJets_TuneCUETP8M1_13TeV-madgraphMLM-pythia8/RunIISpring15DR74-Asympt25ns_MCRUN2_74_V9-v2/AODSIM

/TT_TuneCUETP8M1_13TeV-powheg-pythia8/RunIISpring15DR74-Asympt25ns_MCRUN2_74_V9-v2/AODSIM

/TT_TuneCUETP8M1_13TeV-powheg-scaledown-pythia8/RunIISpring15DR74-Asympt25ns_MCRUN2_74_V9-v1/AOD

[2015-09-09 11:56] jshlee commented on #182
will close this since all the samples have been added in the lsit

[2015-09-10 14:17] jhgoh opened #189 "Pileup reweighting"
Current PU re-weighting in CATTools is based on number of offline PV which is not standard one.
We are waiting for the central PU JSON and MinBias cross section & syst. uncertainty variation factors.

The true PU distributions are available in the CMSSW
- SimGeneral/MixingModule/python/mix_2015_50ns_Startup_PoissonOOTPU_cfi.py
- SimGeneral/MixingModule/python/mix_2015_25ns_Startup_PoissonOOTPU_cfi

[2015-09-11 13:22] jhgoh commented on #189
(info from TOP xsec meeting) No official recipe yet. Still waiting.

[2015-09-11 13:23] jhgoh commented on #163
Some discussion points gone to the PR #184.
New KinReco code uses M(l,b) for the weighting factor (or M(ttbar)). This is largest change from the TQAF version.

[2015-09-14 08:32] jshlee commented on #168
As you mentioned, i think it might be best to use the official trigger tools already in cmssw and keep
patTriggerObjectStandAlones and edmTriggerResults_TriggerResults__HLT.
Currently patTriggerObjectStandAlones is pretty big, but we should be able to reduce it somewhat.
If we keep edmTriggerResults_TriggerResults__HLT, we no longer need to keep __catTrigger__.

[2015-09-14 08:33] jshlee commented on #121
i'll close this, since the remaining points are covered by other issues

[2015-09-14 08:33] #121 closed, assigned to nobody

[2015-09-14 20:15] jhgoh commented on #168
Major update is done in #193. TriggerResults and Trigger objects are stored with standard data formats.

[2015-09-14 20:22] jhgoh commented on #146
This issue have been standing quite long time.
Thinking about use case, we usually use RelVal samples only for the testing, thus we can workaround by checking substring in the input file(s) and switch to use slimmedMETs::RECO.

Actually this hack to the PAT2CAT_cfg.py was already included (by accident?) in #191.
Case closed.

[2015-09-14 20:22] #146 closed, assigned to nobody

[2015-09-15 11:16] jshlee commented on #168
closing!

[2015-09-15 11:16] #168 closed, assigned to nobody

[2015-09-17 05:29] YoungKwonJo commented on #182
/DYJetsToLL_M-10to50_TuneCUETP8M1_13TeV-amcatnloFXFX-pythia8/RunIISpring15DR74-Asympt25ns_MCRUN2_74_V9-v1/MINIAODSIM
However, I can't find the cross section.
We need to add the sample for the region in dilepton( m_ll : 20~50).

[2015-09-17 07:00] jhgoh commented on #182
Reopend this issue.

[2015-09-17 07:10] jhgoh commented on #182
Observation by Youngkwon - there's a difference bet'n mass cut in the sample (10-50) and reference cross section (20-50)
A generator level mass cut can be applied to match them.

[2015-09-17 07:49] jhgoh opened #202 "Inject validation module in central production"
CATTools workflow itself works very nicely but users have to run the full analysis chain to actually have results.
It is worth to have a module that produces validation plots in low level
- Pros - discover problems promptly, just after the production
- Cons - need additional man power to add all variables and monitor them

[2015-09-22 04:08] YoungKwonJo commented on #182
We need to add another samples for ttbar
/TTJets_TuneCUETP8M1_13TeV-amcatnloFXFX-scaledown-pythia8/RunIISpring15DR74-Asympt25ns_MCRUN2_74_V9-v1/MINIAODSIM

/TTJets_TuneCUETP8M1_13TeV-amcatnloFXFX-scaleup-pythia8/RunIISpring15DR74-Asympt25ns_MCRUN2_74_V9-v1/MINIAODSIM

Because amcatnlo sample has biggest events number.
So we may use main sample by ttbar-amcatnlo sample.

[2015-09-22 09:16] jhgoh commented on #182
This issue can be handled by making PR to put these samples into sample list txt file.
https://github.com/vallot/CATTools/blob/cat75x/CatProducer/prod/MC/prod_RunIISpring15DR74-Asympt25ns_MCRUN2_74_V9.txt

[2015-09-22 11:13] jhgoh commented on #163
@kuyoun , please post input/output p4 from DESY here.

[2015-09-22 13:15] jshlee commented on #182
can u updated this asap, we would like to start 742 soon

[2015-09-22 14:27] jhgoh commented on #163
Event list from youn:

[code]

[2015-09-22 14:48] jhgoh commented on #163
Some debugging was done as you can see in the PR #200 , top&W mass peak can be seen with the latest version. There were some typos, mostly mistake on sign and common factors.

[2015-09-22 15:14] jhgoh commented on #163
Testing with 2nd event 286791895, pt, eta, phi from each solvers.

[code]

[2015-09-22 22:29] jhgoh commented on #202
Alternatively, some part of this test can be done with unit test feature in the CMSSW. #206

[2015-09-23 01:00] jhgoh commented on #182
PR is created to cover DYJets10-50 and TTJest scale up/dn.

[2015-09-25 14:53] jhgoh commented on #90
The C-tagging is going to be included in the central CMSSW. I think we can close this issue.

[2015-09-25 15:00] geonmo commented on #90
I agree!

[2015-09-26 15:20] jshlee commented on #182
i'll close this for now
if there are any more requests, please add a PR

[2015-09-26 15:20] #182 closed, assigned to nobody

[2015-09-26 15:20] jshlee commented on #90
closed!

[2015-09-26 15:20] #90 closed, assigned to nobody

[2015-09-28 18:41] jshlee opened #221 "moving JER to class function"
Since JER is just a function of eta in 7 bins, I think it might be best to just move this function
(https://github.com/vallot/CATTools/blob/cat75x/CatProducer/plugins/CATJetProducer.cc#L187)
to Jet.h

I think the same can be done for SF's and pileup weights.
This way we dont have to remake catTuples when these weights change.

[2015-09-28 18:44] jhgoh commented on #221
How about AnalysisHelper?

[2015-09-28 18:49] jshlee commented on #221
for pileup yes
then i think AnalysisHelper should be moved to CatProducer or CommonTools
but since SF and JER etc depend on eta or pt and analysis object wise, it is easier to use.
plus I dont mind it being hard coded into particle objects

[2015-09-29 08:48] jhgoh commented on #221
JER have to be propagated to MET, so the same code have to be also in MET.h
It's hard to imagine MET to keep all jet pt variations from JER so user have to copy usual MET variation routine - this is not preferred way.
So, something like
`AnalysisHelper::applyJER(jets, met, newJets, newMET);`
seems to be better for me but I cannot find strong advantage with this.
Simply we can detach JER EDProducer

[2015-09-29 09:15] jshlee commented on #221
if both jets and mets need to have JER applied, I agree that is the best way.
but for cases when only jets need to be updated, i think its nicer to have it in the jet object
and for met we can have
newMET = AnalysisHelper::METapplyJER(jets, met);
without JER propagated to MET.h

[2015-09-29 20:03] jhgoh opened #226 "Remove backported modules in CMSSW"
The GenTtbarCategrizer.cc is (going to be) backported from 76X release.

https://github.com/cms-sw/cmssw/pull/11559

@YoungKwonJo , please check this PR and compare with the module you have added in CATTools.

[2015-09-29 20:19] jhgoh commented on #221
We had some discussion on this issue this afternoon.
There can be many possibilities. Among them, adding JER in the dataformat seem to be best way because:
- Simplest user interface
- Reduces file size. No need to add additional field for JER variations
  As far as I understand, all CATTools related analyses reads catTuples using the full framework (or at least fwlite), no direct access to cat::Je

[2015-09-29 21:14] jhgoh commented on #221
Implemented JER in dataformat.

[2015-09-30 12:34] jshlee commented on #221
done

[2015-09-30 12:54] jhgoh commented on #221
Closing this issue.

[2015-09-30 12:54] #221 closed, assigned to nobody

[2015-10-04 23:48] jhgoh commented on #226
Closing this issue since it is solved.

[2015-10-04 23:48] #226 closed, assigned to nobody

[2015-10-05 12:19] jhgoh commented on #202
Some production tests are integrated in a unit test scripts. User analyses are to be added later. Closing this issue since basic structure is already set up.

[2015-10-05 12:19] #202 closed, assigned to nobody

[2015-10-05 12:52] jshlee commented on #61
i think our documentation is going well.
if anyone has any more suggestions for this, please make a new issue.

[2015-10-05 12:52] #61 closed, assigned to nobody

[2015-10-06 14:29] jhgoh commented on #163
After small fix to select min(mTTbar) among four solutions.

![mass1](https://cloud.githubusercontent.com/assets/4388926/10311497/3ae0f996-6c47-11e5-8cf9-b9172cac9827.png)
![mass2](https://cloud.githubusercontent.com/assets/4388926/10311496/3ae03c54-6c47-11e5-9afd-5749bcdc8fae.png)

[2015-10-19 15:34] jshlee opened #253 "Production: v7-4-4 Run2 25ns on miniAODv2"
New production on miniAODv2 samples.
Since most of the corrections are done at miniAOD level, not much would need to be done for our side.
to do:
- remove unneeded corrections
- update PileupWeightProducer (not currently working on miniAODv2)
- \+ any other changes that need to be done

[2015-10-19 15:34] jshlee commented on #253
also, please request new features here!

[2015-10-23 14:48] jshlee commented on #189
i think this can be closed since we are upto date with it.

[2015-10-26 00:32] #189 closed, assigned to nobody

[2015-10-26 00:56] jhgoh opened #267 "Generator weights"
2015 version of PDF treatment is out from the PDF4LHC group.
https://twiki.cern.ch/twiki/bin/view/CMS/PDF4LHC

It is recommended to access weights from the LHE file.
Following run/event contents are necessary to redo the gen. lvl weighting.

[code]

The weights vector usually contains weights from scale variations and PDFs but the information on weight grouping is stored in the LHERunInfoProduct a

[2015-10-27 15:27] jhgoh commented on #253
I'm requesting redo the production for TTJets signals AFTER merging the PR #268. The PR will add necessary information to apply PDF weights from the LHE. To be tested : does this runs on powheg and the other ME generators?

[2015-11-01 21:01] jhgoh commented on #267
Closing this issue since the corresponding PR is merged.

[2015-11-01 21:01] #267 closed, assigned to nobody

[2015-11-03 09:04] YoungKwonJo commented on #253
I found missing parts for ttbar mc samples in the catTuple.
https://github.com/vallot/CATTools/blob/cat75x/CatProducer/python/catEventContent_cff.py#L34
    'keep __GenTtbarCategories___*',
    'keep *_partonTop____',
    'keep __pseudoTop___*',
++++++++++
edmDumpEventContent root://cms-xrdr.sdfarm.kr:1094///xrd/store/group/CAT/TTJets_TuneCUETP8M1_13TeV-amcatnloFXFX-pythia8/v7-4-4_RunIISpring15Min

[2015-11-06 16:32] #253 closed, assigned to nobody

[2015-11-16 14:52] jhgoh opened #301 "Update spreadsheet for v7-4-5 prod"
Google spreadsheet is to be updated to finalize this campaign.
https://docs.google.com/spreadsheets/d/1rWM3AlFKO8IJVaeoQkWZYWwSvicQ1QCXYSzH74QyZqE/edit#gid=519625370

Please update cells with red colors. If the cell is up to date and valid, reset the cell color.

[2015-11-16 15:37] jhgoh commented on #301
Checked dataset names, path to some MC samples, missing (now filled up) SingleTop tW sample nEvents.

[2015-11-18 17:03] jhgoh commented on #301
@jshlee Can I assume that the 745 production is finished? If then I will close this issue and the milestone for the production.

[2015-11-18 22:08] jshlee commented on #301
yep!

[2015-11-19 02:48] #301 closed, assigned to nobody

[2015-11-20 14:22] jshlee opened #306 "Production v7-4-6"
Hi All,

I've added a place holder for the next production. Please update samples required.
https://docs.google.com/spreadsheets/d/1rWM3AlFKO8IJVaeoQkWZYWwSvicQ1QCXYSzH74QyZqE/edit#gid=1087889200

Other features requested:
- both gold and silver weights
- flag for gold or silver

[2015-11-23 01:37] jshlee commented on #306
add in JER scaling factors
https://twiki.cern.ch/twiki/bin/view/CMS/JetResolution#JER_Scaling_factors_and_Uncertai

[2015-11-23 11:46] jshlee commented on #306
also check b-tagging sf
https://twiki.cern.ch/twiki/bin/view/CMS/BtagRecommendation74X

[2015-11-27 09:41] geonmo opened #311 "To check that the secondary vertex collection can be embeded."
### Motivation
- For J/psi analysis,  I want to embed the secondary vertex collection to official CATTools.
  However, in most case, the secondary vertiecs(below SV) have too big size to put the ntuple.
  So, we need to check their size, precut with least loss and input collection to reconstruct to SV.
### CheckPoint ( Higher is more important. )
1. Size           : small size is mandatory for off

[2015-11-27 09:50] geonmo commented on #311
#### Quick & Dirty results
-  Size of method(2)

[code]
- Maybe, catSecVertex**V2** **can not be used** for cat ntuple without strong precut. ( x4 catJets ) :boom:

[2015-11-27 12:09] jhgoh commented on #311
what is catSecVertexsV2?

[2015-11-27 12:39] jshlee commented on #311
i think catSecVertexsV2 is the updated one

[2015-11-27 12:40] jshlee commented on #311
@geonmo use the cern cuts for now
and also add in D\* candidates

[2015-11-27 12:59] geonmo commented on #311
@jhgoh catSecVertexV2 means 2nd methods.(Lepton + generalTracks)
I will also make V3 and V4 for method 3 and 4.

[2015-11-27 13:00] geonmo commented on #311
Of course, it will not push to official. These are made to compare J/psi candidates for each modules.

[2015-11-27 15:22] jshlee commented on #306
prod is ready to be processed. this will be closed now.
please open a new one when next prod is required

[2015-11-27 15:22] #306 closed, assigned to jhgoh

[2015-11-27 16:21] jhgoh commented on #311
![screen shot 2015-11-28 at 1 19 52 am](https://cloud.githubusercontent.com/assets/4388926/11445266/2fc4757e-956e-11e5-9628-b1fa530a2ec3.png)

To reproduce this,

[code]

and

[code]

Gives lxy distribution quickly.

[2015-11-27 16:23] jhgoh commented on #311
And the mass distribution

![screen shot 2015-11-28 at 1 23 44 am](https://cloud.githubusercontent.com/assets/4388926/11445338/b0899888-956e-11e5-91e8-2ff0e8fab100.png)

[2015-11-30 15:39] geonmo commented on #311
### Quick & Dirty result(2)
- I made other 2 producer about miniaod's secvtx and packedPFCandidates.
- This is a data size for each modules. ( No pre-cut. )

[code]

[code]
- I will upload about mass plots and efficiency of catSecVtx over genJpsi(pdgId == 443).

[2015-11-30 15:46] jshlee commented on #311
Hi @geonmo,
Have a read of the analysis note from 8 tev and put all the required variables into https://github.com/vallot/CATTools/blob/cat75x/DataFormats/interface/SecVertex.h

and then put some cuts to reduce the number of SecVertexes.
I dont think its worth keeping general tracks and pf candidates

[2015-11-30 16:47] jhgoh commented on #311
I think he is not storing general tracks nor pf cands of course. He is trying to estimate effect of chosing different input objects to build catSecVertices.

Summarizing up:
- Lepton + generalTracks - high eff, high fake, large event size, AOD/RECO only
- catSecVtx - small size, easy, ready-made sec vtxs, eff to be understood, MiniAOD as is
- pfCand+pfCand - moderate size, eff to be understood, wo

[2015-11-30 16:48] jhgoh commented on #306
What is the status of current prod?

[2015-12-01 09:55] geonmo commented on #311
@jshlee @jhgoh hello, all. I will draw the efficiency plots of [reco Jpsi] over [gen Jpsi]. Then, I will determine best catJpsi producer. After this job, I will put all variable to "new" SecVtx producer on CATTools.

[2015-12-01 15:29] jshlee commented on #306
3 files to go in DoubleEG/v7-4-6_Run2015D-05Oct2015-v1 then prod is finished
will send email then

[2015-12-02 14:43] geonmo commented on #311
### Quick and Dirty (3)

#### Result
- Sample : J/Psi to mu Mu 1000 events
- CMSSW_7_4_15 + method 2,3,4 producers
- Below is efficiency plots,
  ![eff_try1](https://cloud.githubusercontent.com/assets/4969463/11533515/797f44d6-994d-11e5-9e7e-5d06de6651d3.png)
- Method3 can not make the secVtx from AODSIM samples.(If I did not take a misktake,)
- Method4(Pf + Pf) is not better than original one(Met

[2015-12-02 14:50] geonmo commented on #311
I forgot a matching algorithm.
- dR < 0.15
- dPt < 5%
- Only choose closest(small dR) reco candidate.( avoid to duplicate.)

[2015-12-02 15:01] jhgoh commented on #311
1. Did you apply acceptance cut on gen level jpsi's?
2. Can you add number of jpsi candidate plots (without matching)?
3. Method3 must be OK on MiniAODSIM.

[2015-12-02 15:16] geonmo commented on #311
@jhgoh 1. I did not apply that. Ok, I will apply |eta<2.4| cut for genJpsi.
2. Can I upload about avergae of J/psi candidates?
3. Ok, I skip to find a bug for method3 before using miniAOD sample.

[2015-12-02 15:20] geonmo commented on #311
@jhgoh @jshlee Did you know how to solve below error?

[code]

I faced this error after modifying **method 4** to use pf(lepton pdgId) + pf(all).

[2015-12-02 15:21] jshlee commented on #311
reject these candidates

[2015-12-02 15:34] jhgoh commented on #311
If jpsi multiplicity is ~1 then you can just postpone to apply complicated matching cuts. I was just wondering about unnecessary loss during gen-reco matching.

[2015-12-02 16:59] jhgoh commented on #163
I'm closing this issue, remaining things are to be answered in meetings.

[2015-12-02 16:59] #163 closed, assigned to nobody

[2015-12-02 22:09] jshlee commented on #311
@geonmo, this could be due to neutral pf candidates.
check that the pf has charge

[2015-12-03 05:33] geonmo commented on #311
@jshlee Thanks, Jason. It works. Almost errors are solved. Some errors are remain but I by-pass to use try-catch handle.

[2015-12-03 06:23] geonmo commented on #311
@jhgoh @jshlee Hello, This is an updates today.

### Quick and dirty(4)

#### Efficiency plots

![eff_try4](https://cloud.githubusercontent.com/assets/4969463/11553229/05271cac-99d0-11e5-9a3f-c08617652e85.png)

#### Average of J/psi multiplicity

![avr_jpsi](https://cloud.githubusercontent.com/assets/4969463/11553299/b3cf3398-99d0-11e5-8548-b5a7d738d8dc.png)
- Method(4)'s efficiency is recovered.

[2015-12-03 13:15] jshlee opened #318 "cross section update"
can someone update DYJetsToLL_M-5to50_TuneCUETP8M1_13TeV-madgraphMLM-pythia8 cross section please

[2015-12-08 15:19] geonmo commented on #311
After merge and add some feature, I checked the efficiency for several cases.
- New case
  - method(4-0) : pfCandidate(pdgId==11,13) && pfCandidate(pdgId==11,13))
  - method(4-1) : pfCandidate(pdgId==11,13) && pfCandidate(any pdgId))  (Previous : method4, default)
  - method(4-2) : pfCandidate(any pdgId) && pfCandidate(any pdgId))

Here is efficiency and fake result,

### Quick and dirty(5)

####

[2015-12-08 15:20] geonmo commented on #311
I forgot that event size each modules.

[code]

[2015-12-10 18:44] jhgoh commented on #311
The efficiency can be under-estimated if you don't apply acceptance cut on the Jpsi decay products. The acceptance cut may vary depending on your physics interests.
I expect jpsi's in your analysis are highly boosted since it is one of decay products of top quark, mTop >> mJpsi - then pfLepton+pfLepton will be efficient enough to cover your signal box.

[2015-12-10 20:57] jhgoh commented on #318
These are generator level dilepton mass distributions, normalization factors are extracted by calculating N(mZ 20-50)/N(mZ 5-50).

There is some discontinuity near M=50. I had to introduce additional factor of 1.467. This factor is nothing but just an average of ratio of nearby bin contents,

[code]

You can see the gen. level dilepton mass distribution before & after applying this additional SF.

[2015-12-14 18:43] jhgoh commented on #318
Patching factors are overestimated due to missing Br in the script.

#
- Ratio of (Theory)/(Generated) =  0.0410604983016
- Additional factor for patching two region =  1.30969442057

#
- Ratio of (Theory)/(Generated) =  0.173990772838
- Additional factor for patching two region =  1.15851991276

[2015-12-15 09:21] jhgoh commented on #267
Straingly, the event contents are empty in 746 production. I'm going to prepare another PR to solve it. Fortunately, the feature is not used in anlayses.

[2015-12-18 09:55] jhgoh commented on #318
Numbers are going to be updated in the spreadsheet:

#
- Ratio of (Theory)/(Generated) =  24.3543074576
- Additional factor for patching two region =  1.30969442057
- Cross section of DY sample = 6025.18
- Cross section of DYJets_MG_5to50 sample = 114559.63

#
- Ratio of (Theory)/(Generated) =  5.74743122115
- Additional factor for patching two region =  1.15851991276
- Cross section of DY sample

[2015-12-18 10:00] jhgoh commented on #318
Values are now updated. closing this issue.

[2015-12-18 10:00] #318 closed, assigned to nobody

[2015-12-29 08:12] jhgoh commented on #311
Are there any progress (or plan) on this issue?

[2015-12-29 23:18] jshlee commented on #311
isnt this already merged?

[2015-12-31 15:01] jhgoh opened #347 "Issues using 746 production"
Collect remaining issues discovered while using the 746 catTuple production.
### DY cross section 10-50 and 5-50 samples

@jhgoh tried a forced matching to ZJets sample introducing additional factor #318, last commit #328
This method shows some disagreement in RECO level (spotted by @tt8888tt)
@YoungKwonJo gave a reference values by ttH group https://twiki.cern.ch/twiki/bin/viewauth/CMS/SummaryTab

[2016-01-04 10:46] jshlee commented on #311
@geonmo do you want to close this?

[2016-01-15 09:40] jhgoh commented on #347
Summary of discussions (Jan 15)
- Muons - puppy isolation with new tool
- Electrons - preselection ID (already merged)
- Jets - New JES? - frequently updated, no update for now
- MET - we have both, NoHF, with HF, depending on analysis
- b tagging - new cMVA to be added
- gen weights - reorganize indices using LHE header information

Please add comments here if I'm missing something.

[2016-01-15 09:55] jshlee commented on #347
update data samples
i think it would be good to attach names to the list and have a deadline of monday for tasks required to be done for production

[2016-01-15 11:00] jhgoh commented on #347
My proposal to change gen weights, will be done with the gen weights producer.
1. Read LHE header from the run information, keep the information about where to split the weights and how to combine them
2. Store different weights in different vectors.

Exact structure to store them in separate vector<float> to be decided.

[2016-01-15 12:53] jshlee commented on #347
also update pileup mc weights

[2016-01-15 14:29] jshlee opened #361 "prod 7-6-1"
to do!
- MET - met corrections are not working. can turn off till fix comes out. this just means no noHF met and no corrections. but since it is using same jec miniaod met can be used out of box
- update data samples -- need to be done

done
- Muons - puppy isolation with new tool --- not urgent
- Electrons - preselection ID (already merged) --- done
- Jets - New JES? - frequently updated, no upda

[2016-01-18 10:39] jhgoh commented on #361
gen weights done #363

[2016-01-18 17:11] jhgoh commented on #311
@geonmo is this merged in the central production?

[2016-01-18 17:32] geonmo commented on #311
@jhgoh @jshlee Hello, everyone. I am sorry about late reply. I am working different job. I can not handle this issue for this production. Please, ignore "seconday vertex collection" for this production. I will make a private one for my analysis for a while.

[2016-01-18 20:53] jhgoh commented on #347
Closing this issue as we have another one #361

[2016-01-18 20:53] #347 closed, assigned to nobody

[2016-01-18 20:55] jhgoh commented on #361
Pileup weights for MC done #362 , data can be done after final lumi JSON arrives.

[2016-01-18 20:58] jhgoh commented on #361
Electrons done #351 to store additional bit. @hcwhwang is checking the samples with his private(?) prod. There are some electron objects that does not pass the preselection cuts. Main question was existence of mva-wise good electrons which does not pass the preselection cuts - to be answered.

[2016-01-18 21:00] jhgoh commented on #361
Updating data sample list in https://docs.google.com/spreadsheets/d/1rWM3AlFKO8IJVaeoQkWZYWwSvicQ1QCXYSzH74QyZqE/edit#gid=1617837617 .
Production can be started when the samples are ready.

[2016-01-18 21:02] jshlee commented on #361
shall we wait for new new jec and json?
also, currently the metNoHF is broken and not in the new miniAODs

[2016-01-19 14:40] jhgoh commented on #361
Cross sections are checked with @YoungKwonJo for those ttbar analysis specific samples. prod v761 table is going to be updated as well.

[2016-01-22 16:33] jhgoh commented on #361
An interface to the b tag CSV weight is added #373 the input csv file is for the "old" CSV.

[2016-01-26 13:53] jhgoh commented on #361
![c_vertex_n](https://cloud.githubusercontent.com/assets/4388926/12582275/60ee8412-c43c-11e5-99b6-c99663a12fe4.png)
![c_jets_n](https://cloud.githubusercontent.com/assets/4388926/12582293/8545ff5c-c43c-11e5-9cef-b9698fcd9cea.png)

Quite nice agreement in nvertex distribution.
The jet multiplicity trends continues.

[2016-02-04 11:54] geonmo commented on #311
On #403, I calculated MiniAOD's nature SecVtx's efficiency.

It is not better than v41. So, I will fix the v41 to default.

![p7](https://cloud.githubusercontent.com/assets/4969463/12814129/13914074-cb80-11e5-93b0-05742122c7b0.png)

[2016-02-04 13:46] jshlee opened #404 "prod 7-6-2"
once the new JEC is production i will start a new prod

to be done
- MET - met corrections are not working. can turn off till fix comes out. this just means no noHF met and no corrections. but since it is using same jec miniaod met can be used out of box
- update data samples -- waiting for more Fall15 samples to be production

[2016-02-04 13:46] jshlee commented on #361
closing this and moving issues to next prod

[2016-02-04 13:46] #361 closed, assigned to nobody

[2016-02-04 13:46] jshlee commented on #311
can we close this issue?

[2016-02-04 13:47] geonmo commented on #311
Yep!

[2016-02-04 14:27] jhgoh commented on #404
- [x] genWeights are not handled correct way and every weights are moved to "otherweights" collection. to be fixed.

[2016-02-04 14:49] jhgoh commented on #404
- CSV weights are to be updated - this is analysis level and does not affect production

[2016-02-04 14:51] jhgoh commented on #404
- [x] PseudoTopProducer is updated, new PR to be made into vallot:cmssw

[2016-02-04 14:56] jhgoh commented on #404
- [x]  B tag working points in the DataFormats are based on 74X. Most analyzers do not use this interface and applies correct cut values inside of analysis code. Shouldn't we remove this to avoid confusion?
  https://github.com/vallot/CATTools/blob/cat76x/DataFormats/interface/Jet.h#L48-L50

[2016-02-04 15:41] #311 closed, assigned to geonmo

[2016-02-08 15:15] jhgoh commented on #404
- [x] New electron momentum smearing recipe is available. https://twiki.cern.ch/twiki/bin/view/CMS/EGMSmearer systematic variations should be available later
- [x] cat76x branch of vallot/cmssw should include branch matteosan1:smearer_76X

[2016-02-08 15:19] jhgoh commented on #404
- X Do not store unphysical scale variations such as muR=2 muF=0.5 : under consideration

For the previous prod 761, one can use
- index (0,2,3) on scale up sample
- index (1,5,7) on scale down sample
- index 4,6 are the unphysical combinations

I'm going to keep the same order in 762 prod onward, drop the first weight thus all weight vectors to contain syst variations.

[2016-02-08 23:06] jhgoh commented on #404
76X Muon scale factors are going to be available soon, but this does not affect production.

[2016-02-09 20:40] jshlee commented on #404
met corrections are not working so I cant make metNoHF.
apart from that i think prod can be started with jec Summer15_25nsV7, which is better than the default Summer15_25nsV6

[2016-02-10 08:36] jhgoh commented on #404
Good to go

[2016-02-10 10:26] jshlee commented on #404
almost done!

[2016-02-10 13:08] jhgoh opened #430 "PseudoTopProducer crash report"
PseudoTopProducer crashes

https://cmsweb.cern.ch/scheddmon/0109/cms1333/160209_213620:jlee_crab_v7-6-2_TT_TuneEE5C_13TeV-amcatnlo-herwigpp/job_out.7.1.txt

[code]

[2016-02-10 13:55] jhgoh commented on #430
Resolved the problem. Fix to be made soon.

[2016-02-10 14:08] jhgoh commented on #430
Solved. Merged in vallot:cmssw/cat76x

[2016-02-10 14:08] #430 closed, assigned to nobody

[2016-02-10 14:09] jhgoh commented on #404
Delayed to process herwig++ sample due to #430 . problem solved and jobs are going to be resubmitted.

[2016-02-10 19:37] jhgoh commented on #404
Here's nvertex distribution. Some level of discrepancy in nVertex distribution is observed.

(ee)
![c_vertex_n](https://cloud.githubusercontent.com/assets/4388926/12959236/e449888e-d035-11e5-9f56-e127f9eecca9.png)
(mm)
![c_vertex_n](https://cloud.githubusercontent.com/assets/4388926/12959247/ee2c47ce-d035-11e5-923a-0c1325f1034e.png)
(em)
![c_vertex_n](https://cloud.githubusercontent.com/assets/438

[2016-02-10 19:59] jhgoh commented on #404
mass distribution seem to be OK
(ee)
![zee](https://cloud.githubusercontent.com/assets/4388926/12959928/f56d435a-d038-11e5-8b9f-d657408c9fdc.png)
(mm)
![zmm](https://cloud.githubusercontent.com/assets/4388926/12959929/f58390c4-d038-11e5-947e-937a4582432c.png)

and nVertex in higher cut step (mm, step4 for an example)
![nvmmstep4](https://cloud.githubusercontent.com/assets/4388926/12959961/185d9a68

[2016-02-11 10:51] jshlee commented on #404
closing as prod is done.

[2016-02-11 10:51] #404 closed, assigned to nobody

[2016-02-11 10:54] jshlee opened #434 "prod 7-6-3"
- [x]  once the new JEC is production i will start a new prod, fall15 based jec should be out soon
- [ ]  MET - met corrections are not working. can turn off till fix comes out. this just means no noHF met and no corrections. but since it is using same jec miniaod met can be used out of box. still waiting for fix from met group
- [x]  update data samples -- waiting for more Fall15 samples to be pr

[2016-02-11 11:14] jhgoh opened #435 "Fix quarks from W boson"
I'm adding this issue to track the branch history, to be closed immediately.

There was a direct commit to the main 76x branch by @monttj
https://github.com/vallot/CATTools/commit/aade12a2caeaea382cc1e4f8f1c5c5342612f54d

Addition to v762 prod for the signal samples are ongoing.

[2016-02-11 11:14] #435 closed, assigned to nobody

[2016-02-20 10:03] jhgoh opened #445 "prod 7-4-7"
The backport production will start soon with 74X release sample.

[code]

Other PRs to be merged before submission?

[2016-02-25 12:18] jshlee commented on #434
done!

[2016-02-25 12:18] #434 closed, assigned to nobody

[2016-02-25 13:35] jhgoh commented on #445
We don't need packport sample. Closing this issue.

[2016-02-25 13:35] #445 closed, assigned to nobody

[2016-03-05 18:19] jhgoh opened #464 "Poor Top KinReco resolution"
DESYSmearedSolver gives poor purity / stability. This is to be understood ASAP.
This can be from some bug in the kin reco implementation.

[2016-03-05 18:21] jhgoh commented on #464
I tested KinReco with parton level informations. Neutrino dpt/pt, deta, dphi with/without energy&angle smearing is here:
- (pt_kin - pt_true)/(pt_true)
  ![hndpt](https://cloud.githubusercontent.com/assets/4388926/13549532/77cd8572-e307-11e5-8e1b-18523b129800.png)
- (eta_kin - eta_true)
  ![hndeta](https://cloud.githubusercontent.com/assets/4388926/13549533/7c710edc-e307-11e5-9d8b-e44c5d2beb67.png

[2016-03-05 18:28] jhgoh commented on #464
Can we improve the weighting method?
I think we can multiply additional weights from M(nu,b) - assuming the same distribution with the M(l, b).
- (pt_kin - pt_true)/(pt_true)
  ![hndpt_nuw](https://cloud.githubusercontent.com/assets/4388926/13549563/415fd2b4-e308-11e5-99b8-bfd4db050c0c.png)
- (eta_kin - eta_true)
  ![hndeta_nuw](https://cloud.githubusercontent.com/assets/4388926/13549566/5a838a6a-

[2016-03-05 21:14] jhgoh commented on #464
Better results can be obtained with different algorithm #465

[2016-03-08 13:28] jhgoh commented on #464
Closing this issue. Case resolved with #466

[2016-03-08 13:28] #464 closed, assigned to nobody

[2016-03-09 09:01] YoungKwonJo opened #468 "ctag"
https://github.com/vallot/CATTools/blob/cat76x/CatProducer/python/jetProducer_cfi.py
todo list for adding ctag.

[2016-03-09 09:34] YoungKwonJo commented on #468
ref.
https://github.com/cms-sw/cmssw/blob/CMSSW_7_6_X/RecoBTag/Configuration/python/RecoBTag_EventContent_cff.py#L89
https://github.com/cms-sw/cmssw/blob/CMSSW_7_6_X/PhysicsTools/PatAlgos/python/tools/jetTools.py#L194
https://github.com/cms-sw/cmssw/blob/CMSSW_7_6_X/RecoBTag/CTagging/python/cTagging_cff.py

[2016-03-09 12:44] jhgoh commented on #468
I'm expecting inputs from the Korea U people who are working on c-tagging - what is the c tag discriminator name.

[2016-03-16 11:24] geonmo commented on #468
Any update for this?

[2016-03-16 11:39] geonmo opened #480 "Warning message during PAT2CAT job."
Too noise warning message about JetFlavour

[code]

[2016-03-16 11:44] YoungKwonJo commented on #468
I guess we just add the string in the code.

##  https://github.com/vallot/CATTools/blob/cat76x/CatProducer/python/jetProducer_cfi.py

catJets = cms.EDProducer('CATJetProducer',
    src = cms.InputTag('slimmedJets'),
btagNames = cms.vstring('pfCombinedInclusiveSecondaryVertexV2BJetTags','pfCombinedMVAV2BJetTags',
**"inclusiveCandidateSecondaryVerticesCvsL","pfCombinedCvsLJetTags","pfCombinedCvsBJe

[2016-03-16 11:55] YoungKwonJo commented on #480
it is related it with  https://github.com/vallot/CATTools/pull/229
The main log message is made by the code https://github.com/cms-sw/cmssw/blob/CMSSW_8_1_X/PhysicsTools/JetMCAlgos/plugins/JetFlavourClustering.cc#L394

[2016-03-16 12:25] geonmo commented on #468
I make a PR #481

[2016-03-16 12:32] geonmo opened #482 "D* producer for production."
I checked a bug on my producer plugin.
- Summary
  - Peak virtual size 1594.07 Mbytes  : OK( <2000 )
  - Memory leak issue : 40 times. Not bad..
  - Size : Slightly big.

[code]
- Test log

[code]

[2016-03-16 13:26] geonmo commented on #468
I merged the PR and will close this issue.
If you faced an errors, please re-open this issue.

[2016-03-16 13:26] #468 closed, assigned to nobody

[2016-03-16 14:11] jhgoh commented on #480
??? 마지막은 진짜 이상한데요.
`The reclustered and original jet 10 have different Pt's (7.95245e-18 vs 8.93147 GeV`
ghost가 독립된 젯으로 잡히고 기존 젯이 모종의 이유로 드랍된건가요

[2016-03-16 14:28] geonmo commented on #480
저 프로듀서 자체가 완벽한건 아닌 것 같습니다.
일단, 해당 모듈의 warning과 errors를 안 보이도록 하는 PR을 만들겠습니다.

[2016-03-16 14:30] geonmo commented on #480
뭐 메세지에서도 10GeV 이하이면 무시하라고 되어 있기도 하니까요

[2016-03-22 07:39] geonmo commented on #480
[code]

위 메세지는 EGammaAnalysis의 EnergyScaleCorrection_class.cc 파일에서 나오는 메세지입니다.

[2016-03-24 06:47] geonmo opened #496 "PFCandidate's TrackQuality"
I checked PFCandidate's peudoTrack's quality information.

I think that it doesn't working except "HighPurity".

Below is my test code and result.

[code]

[code]

I will make a PR for HighPurity for D\* producer.

[2016-03-24 10:17] jhgoh commented on #496
Thank you for checking this. +1.

[2016-03-24 10:18] jhgoh commented on #482
Still it will be nice if we can put mass constraint. Not sure on difficulties.

[2016-03-26 00:30] #496 closed, assigned to nobody

[2016-03-26 00:30] #482 closed, assigned to nobody

[2016-03-26 00:31] geonmo opened #502 "Prod v7-6-4"
Now v7-6-4 is producting.

Dashboard link:
https://dashb-cms-job-task.cern.ch/dashboard/templates/task-analysis/#user=Geonmo+Ryu&refresh=0&table=Mains&p=6&records=25&activemenu=1&pattern=*v7-6-4*&task=&from=&till=&timerange=lastWeek

[2016-03-28 22:41] jhgoh opened #507 "Sample validation"
From the discussion in March 28 - we need a validation procedure after the catTuple production.
Basically, there is an existing analysis module and configuration set to run the full set - to be documented after full test with the most recent prod.

[2016-03-29 07:17] geonmo commented on #502
## Some bug for production

### On catDstar,
- Wrong status checking. -> Fix and merge #509
- Some files will be missing due to this bug.
  - Fortunately, the almost(except unknown 3 jobs) real data samples are finished without this error.

[2016-03-29 12:33] jhgoh opened #511 "Number of events in the spreadsheet"
Number of events in the common spreadsheet can introduce misunderstanding.
Current values are filled in, assuming that the samples are 100% processed. Also, the information is not practically useful for some MC samples with negative weights.

[2016-03-29 12:43] geonmo commented on #511
Can we solve this problem to add "weighted number of events" to spreadsheet?

[2016-03-29 12:55] jshlee commented on #511
i think its better to remove this column.
Each analysis should calculate their own no. of events processed.

[2016-03-29 13:15] geonmo opened #512 "Separating from dileptonCommon to TTbarDilepton cross section custom part."
dileptonCommon의 step6 이후 내용과

DESY smeared 관련 내용은 다른 연구와 연관성이 적어 보입니다.

@kuyoun @tt8888tt  어떻게 생각하세요?

[2016-03-29 13:16] jhgoh commented on #511
I think it's still useful to people quickly check statistics.
IMO, we can change "NEvents" to "NEntries" and fill the # of events without weighting.
For the weighted events, we can use "lumi" column by filling (xsec x NEvents with weight). There's no loss of information.

[2016-03-29 13:26] kuyoun commented on #512
알고 있습니다. 코드를 만들기 전에 논의가 없었던 터라 기존에 있던 코드를 그대로 옮긴 것으로 알고 있습니다.

코드 사용자끼리 논의를 하고 다시 정리를 하도록 하죠.

[2016-03-29 15:48] jhgoh commented on #511
I'm filling up the spreadsheet with the new prod. The number of event field is useful to validate the file list - it will give different number if any files are missing or duplicated.

[2016-03-29 16:38] jhgoh opened #513 "Zombie files"
Listing up Zombies in the previous 763 production
- ZZTo2L2Nu

[code]
- WZTo2L2Q

[code]
- TT powheg Mtop1735

[code]

[2016-03-30 05:16] geonmo commented on #513
@jhgoh Did you have a tool(or script) for zombie checking?

[2016-03-30 07:02] jhgoh commented on #513
I'm using the bash command to get the total # of event which can be found in the documentation tab of the spreadsheet.

[2016-03-30 18:17] jhgoh commented on #513
Zombie found in 764 prod

[code]

[2016-04-01 14:40] jhgoh commented on #511
Added average weight column in the table. Closing this issue.

[2016-04-01 14:40] #511 closed, assigned to nobody

[2016-04-01 14:42] jhgoh commented on #502
production is now close to the final. spreadsheet is updated.
File list is also available from the dedicated git repo, CATTools-datasets.

[2016-04-04 14:20] YoungKwonJo commented on #512
아마도 dilepton을 위한 common한 부분과 ttbar인 부분을 나누었으면 합니다.
그리고 DESY smeard같은 부분은 다른 함수로 뺐으면 좋겠습니다.
1. parameterInit()
   이 부분에서 Desy smeared 파트는 다른 함수로 따로 정의를 해야 할것같습니다.
   예) parameterInit(), parameterInitTTbar() 이렇게 두개로요.
2. eventSelection()
   이부분은 크게 generate level과 eventSelection으로 나누었으면 합니다.
   DESY smeared는 eventSelection에 남겨두어도 될것같구요. 그렇게 하면 ttbb는 상속후 기존 eventSelection()을 지운후 거의같은 eventSelection()

[2016-04-04 14:27] jhgoh opened #516 "GenWeight problem in MadGraph samples"
GenWeight is not filled in correct way for the MadGraph samples.
This is because the names of weight groups are not uniform to the powheg and aMC@NLO.

All scale variations, PDF variations went to the otherweights in these samples.

[2016-04-04 18:04] jhgoh commented on #512
일단 migration 첫번째 단계로 kinsolver파트를 common모듈에서 빼 놓고 cross section analysis 코드 쪽에서 나중에 다시 넣는 것으로 했으면 하는데 어떤가요?
https://github.com/vallot/CATTools/compare/cat76x...jhgoh:BetterDilepCommon?expand=1

사실 개인적으로는 코드가 더 복잡해지지 않을까 걱정이 있어요.

[2016-04-04 18:14] kuyoun commented on #512
저도 고정환박사님과 같은 의견입니다. 복잡하게 하지말고, common 에서 kinsolver 에 관한부분을 지우고, cross-section 코드를 따로 두는게 좋겠습니다. ttbb와 cross-section은 사용하는 gen 정의가 완전히 다르니, genpart 도 필요하다면 분리시키고요.

어떤식으로 만들더라도 각자 코드를 변형시킬텐데 그리 길지 않은 코드를 함수로 빼는 수고가 필요하지 않다고 생각됩니다. 제 생각에도 결국에는 더 복잡한 코드로 변형될 가능성이 크다고 봅니다.

[2016-04-05 02:25] geonmo commented on #502
I will close this issue before new sample production.

[2016-04-05 02:25] #502 closed, assigned to geonmo

[2016-04-06 08:59] geonmo opened #518 "Add some feature for histoHelper.py"
PR#517 has some feature about location of legend and additional histogram to draw(not stack)

I don't know who used this helper function except UOS.

It doesn't affect almost case.

[2016-04-15 12:01] #518 closed, assigned to nobody

[2016-04-23 09:36] jhgoh commented on #516
Moving back to this issue.
You can have a look into detailed by accessing catGenWeightInfo_genWeight__CAT.obj.print(); in the Runs tree.

I'm adding temporary solution to this problem, just to add additional string matching criteria dedicated to this generator.
But there should be general solution to sort out them.

[code]

[2016-04-26 14:41] geonmo commented on #513
For latest prod, it is solved. I will close this issue now. If we re-face sample problem, we need to re-open this issue.

[2016-04-26 14:41] #513 closed, assigned to nobody

[2016-04-29 15:24] jhgoh commented on #516
Closing this issue.

[2016-04-29 15:24] #516 closed, assigned to nobody

[2016-05-02 07:59] geonmo opened #522 "Prod v7-6-5"
This production data will save to KNU tier3 (cms02.knu.ac.kr)

[2016-05-16 08:56] jshlee commented on #522
- gen/pdf weights
- added ip transverse significance for muons and electrons
- jet - update pileup ID

[2016-05-16 08:56] #507 closed, assigned to nobody

[2016-05-16 15:34] jhgoh commented on #522
Will there be the legacy prod with these changes?

[2016-05-17 05:40] geonmo commented on #522
@jshlee Do we have a PR about jet-pileup ID?

[2016-05-17 05:41] geonmo commented on #522
Now, I just start to test for 1 miniaod file.

[2016-05-17 07:49] jshlee commented on #522
instructions for PileupJetID
https://twiki.cern.ch/twiki/bin/viewauth/CMS/PileupJetID#Information_for_13_TeV_data_AN1
does anyone want to apply this?

[2016-05-17 12:50] geonmo opened #527 "Jet Pileup ID for 76x"
TWiki page :  https://twiki.cern.ch/twiki/bin/viewauth/CMS/PileupJetID#Information_for_13_TeV_data_AN1

[2016-05-17 12:52] geonmo opened #528 "Add Jpsi candidates to DstarProducer"
Add J/Psi candiates from dilepton or lepton+pfTrack to DstarProducer.

[2016-05-17 12:52] geonmo commented on #522
@jshlee @jhgoh I made issues #527 and #528 to handle.

[2016-05-17 12:57] geonmo commented on #528
PR #529  is requested to update.

[2016-05-17 13:01] geonmo commented on #480
최대한 줄인 것으로 확인했습니다. 해당 이슈를 종료합니다.

[2016-05-17 13:01] #480 closed, assigned to nobody

[2016-05-17 13:05] geonmo opened #530 "To test CATTools for Run2016 Data"
- [x] To make modified CMSSW release branch for vallot ID.
- [x] To make a branch cat80x
- [x] To porting CATTools to 80X release
- [ ] Validation for 80X data and MC ( Synchronization / Plot )
- [ ] Mass Production for cat80x

Test recipe,

[code]

[2016-05-17 13:08] geonmo commented on #530
Trial CMSSW Release : CMSSW_8_0_8

[2016-05-17 13:17] geonmo commented on #530
[code]

[2016-05-17 13:44] geonmo commented on #530
At first, we used pure CMSSW and CATTools cat80x which was cloned from cat76x.

[2016-05-17 14:27] quark2 commented on #530
The test recipe works well, except for the last line. I met the following message from the last command `cmsRun PAT2CAT_cfg.py useMiniAOD=True inputFiles=root://...`:

[code]

[2016-05-17 14:31] jhgoh commented on #530
@quark2, there was discussion in CATTools egroup.
You can also guess what to be done from this link.
https://github.com/cms-sw/cmssw/commit/2b9093f4f09716854d5f52f9fe2a329a6f686eb4

[2016-05-17 16:31] jshlee commented on #522
heads up for new crab script for production
source /cvmfs/cms.cern.ch/crab3/crab_light.sh

[2016-05-19 05:16] geonmo commented on #528
After fix bug, I merged this.

[2016-05-19 05:16] #528 closed, assigned to geonmo

[2016-05-19 08:30] geonmo commented on #530
#531 was merged. ( For patJetCorrFactor )

[2016-05-19 10:59] geonmo commented on #527
PR #533 is covered for this issue.

[2016-05-19 11:00] geonmo commented on #530
Added EGammaAnalysis for Electron smearing( from cat76x ) to vallot:cmssw

[2016-05-20 04:59] geonmo commented on #527
PR is merged.

[2016-05-20 04:59] #527 closed, assigned to nobody

[2016-05-21 17:50] jshlee opened #535 "2016 run data production"
need to update for catDefinitions_cfi.py
- [x]  JECUncertaintyFile
- [x] lumiJSON
- [x] pileupMCmap - need to add in 2016_25ns_SpringMC_PUScenarioV1_PoissonOOTPU
- [x] JECUncertaintyFile

[2016-05-24 23:06] jhgoh commented on #535
JSON file was announced here:
https://hypernews.cern.ch/HyperNews/CMS/get/physics-validation/2648.html

Luminosity calculation using the unofficial normtag now returns 211.031 pb-1.

[code]

[2016-05-25 10:41] geonmo commented on #522
"crab_light.sh" is not compatable with submitCrab job.
Production Status :
![image](https://cloud.githubusercontent.com/assets/4969463/15537318/a097f71a-22b0-11e6-9414-d8e40cdf7a9e.png)

[2016-05-26 13:50] jhgoh commented on #535
I'm adding 2016 PU information now. The script gives somehow strange warning message but let us just ignore them for now.

[code]

The input distr in MC has no entry in high PU, so it doesn't matter to have overflows.

[2016-05-27 05:01] geonmo commented on #522
Production is finished.
Please, see the https://docs.google.com/spreadsheets/d/1rWM3AlFKO8IJVaeoQkWZYWwSvicQ1QCXYSzH74QyZqE/edit#gid=773772766

[2016-05-27 05:03] geonmo commented on #522
dataset file lists were uploaded to "https://github.com/vallot/CATTools-dataset/tree/v765"

[2016-05-27 12:45] jhgoh commented on #522
Found tiny amount of negative weight events in POWHEG VBF HtoMuMu sample

![screenshot-1](https://cloud.githubusercontent.com/assets/4388926/15608339/9e614a4a-2419-11e6-9b8b-4a07a70c9682.png)

[2016-05-28 10:05] jhgoh commented on #522
Average weight column in the spreadsheet is complete.

[2016-05-29 11:30] jhgoh commented on #522
I think the production is now finalized and ready to be used by analyzers.

[2016-05-31 15:42] jhgoh commented on #522
There was lumi mask issue #546
Analyzers have to remove {"256801": [[73, 74]], "256842": [[131, 132]]} manually.

[2016-06-01 15:30] jhgoh commented on #522
The catDataset is updated to include average weight and "type" field. catGetDatasetInfo is updated as well, #548

[2016-06-10 14:54] jhgoh opened #561 "Bugfix 765 additional production is needed"
There was a bug to calculate pileup weights in downward variation.
Fix was made #560 and #559

The weights are calculated during the catTuple production, so we need additional bugfix production.

[2016-06-11 19:18] jhgoh commented on #561
Discussed with @YoungKwonJo , he recalled that the puweight can be calculated on the fly as was written in the wiki page.

[2016-06-11 19:18] #561 closed, assigned to nobody

[2016-06-20 11:59] geonmo opened #569 "InvalidReference Problem during CATTupling using lepton+Jet Synchronization file."
Hello, everyone.

I faced some problem about invalid reference problem during CATTupling.

[code]

I used "root://xrootd.unl.edu//store/mc/RunIISpring15MiniAODv2/TTJets_TuneCUETP8M1_13TeV-amcatnloFXFX-pythia8/MINIAODSIM/74X_mcRun2_asymptotic_v2-v3/60000/00181849-176A-E511-8B11-848F69FD4C94.root" as inputFiles.

I already xrdcopy from external to KISTI. Please, look at "root://cms-xrdr.sdfarm.kr:10

[2016-06-20 12:14] geonmo commented on #569
Well, I found that this input file was created by 74X release. Maybe, it can be a reason for this problem.
However, On [TTbarXSecSynchronization](https://twiki.cern.ch/twiki/bin/view/CMS/TTbarXSecSynchronization), it was tested by other group.

[2016-06-20 12:14] jshlee commented on #569
@geonmo - can you provide the setup u used so that I can reproduce this error

[2016-06-20 12:16] geonmo commented on #569
@jshlee I setup as "2016 March v7-6-5" on wiki page and just do "cmsRun PAT2CAT_cfg.py inputFiles=root://cms-xrdr.sdfarm.kr:1094//xrd/store/user/geonmo/13TeV_miniaod/Sync/76x/Sync_76X_MC_LJ.root" on CATTools/CatProducer/prod.

[2016-06-20 12:33] geonmo commented on #569
After adding some command, it works.

[code]

Maybe, this problem came from difference between 74X and 76X.

However, can we determine electronIDs on runtime(at python) using input file?

[2016-06-20 12:39] jshlee commented on #569
you can uncomment the lines in https://github.com/vallot/CATTools/blob/cat76x/CatProducer/python/catTools_cff.py#L134-L153

btw, I dont see any problems with catJets

[2016-06-20 13:48] geonmo commented on #569
Anyway, I can solve this problem. Close the this issue.
Thanks!

[2016-06-20 13:48] #569 closed, assigned to nobody

[2016-06-21 05:13] geonmo commented on #530
This is  similar with #535. Close the this issue now.

[2016-06-21 05:13] #530 closed, assigned to nobody

[2016-06-22 06:12] jhgoh opened #574 "JER for unmatched jets"
The recommendation is to apply JER with "hybrid" method as of this Spring.
We have to implement smearing method for unmatched jets - throw a random number with Gaussian distribution where the sigma is taken from the database or txt file.
Based on this, I think calculating JER on the fly with the smearedRes() is not a good choice anymore because it will not give stable results and it will introduce

[2016-06-24 09:40] jhgoh opened #577 "Prod v8-0-0"
Being prepared for the 2016 data processing.

[2016-06-24 16:30] YoungKwonJo opened #578 "MET group recommendations for analyses targeting ICHEP"
https://hypernews.cern.ch/HyperNews/CMS/get/met/469.html

MET Filters:

The twiki with all the recommendations is here: https://twiki.cern.ch/twiki/bin/viewauth/CMS/MissingETOptionalFiltersRun2

Note that many of the 2015 filters will be re-used:
- primary vertex filter
- HBHE noise filter
- HBHEiso noise filter
- ee badSC noise filter
- ECAL TP filter

https://github.com/cms-sw/cmssw/blob/CMSSW_7

[2016-06-24 19:01] YoungKwonJo commented on #578
### MiniAOD 76X v2 (produced with the CMSSW_7_6_2 and later releases )

---

#individual filters
Flag_HBHENoiseFilter TO BE USED
Flag_HBHENoiseIsoFilter TO BE USED
Flag_CSCTightHalo2015Filter TO BE USED
Flag_EcalDeadCellTriggerPrimitiveFilter TO BE USED
Flag_goodVertices TO BE USED
Flag_eeBadScFilter TO BE USED
Flag_chargedHadronTrackResolutionFilter do not use - those are under study 76X
Flag_muo

[2016-06-24 19:08] YoungKwonJo commented on #578
https://github.com/vallot/CATTools/pull/580

[2016-06-25 10:16] jhgoh commented on #578
80x cattools modification to apply MET recipe is under preparation

[2016-06-25 11:01] jhgoh commented on #578
muon/ch. hadron related filters are to be ran during the catTuple production.

[2016-06-25 16:22] YoungKwonJo opened #583 "Prod 7-6-6"
Being prepared for the 2015 data processing.

http://dashb-cms-job-task.cern.ch/dashboard/templates/task-analysis/#user=Young-Kwon+Jo&refresh=0&table=Mains&p=1&records=200&activemenu=2&pattern=&task=&from=&till=&timerange=lastDay

[2016-06-25 16:27] jhgoh commented on #522
Closing this issue as the campaign is finished.

[2016-06-25 16:27] #522 closed, assigned to nobody

[2016-06-25 16:27] jhgoh commented on #574
Closing this issue.

[2016-06-25 16:27] #574 closed, assigned to nobody

[2016-06-25 16:30] jhgoh commented on #535
#577 is under preparation.

[2016-06-25 16:30] #535 closed, assigned to nobody

[2016-06-25 16:32] jhgoh commented on #583
http://dashb-cms-job-task.cern.ch/dashboard/templates/task-analysis/#user=Young-Kwon+Jo&refresh=0&table=Mains&p=1&records=200&activemenu=2&pattern=&task=&from=&till=&timerange=lastDay

[2016-06-25 16:33] jhgoh commented on #583
https://docs.google.com/spreadsheets/d/1rWM3AlFKO8IJVaeoQkWZYWwSvicQ1QCXYSzH74QyZqE/edit#gid=183143795

[2016-06-25 16:33] jhgoh commented on #577
https://docs.google.com/spreadsheets/d/1rWM3AlFKO8IJVaeoQkWZYWwSvicQ1QCXYSzH74QyZqE/edit#gid=1203220026

[2016-06-26 11:03] jhgoh commented on #578
Issue solved.

[2016-06-26 11:03] #578 closed, assigned to nobody

[2016-06-26 11:03] jhgoh commented on #577
Now all necessary recipes are implemented. Staring the production.

[2016-06-26 11:05] jhgoh commented on #577
Good to mention the vallot/cmssw PR https://github.com/vallot/cmssw/pull/15

[2016-06-26 14:29] YoungKwonJo commented on #583
http://youngjo.web.cern.ch/youngjo/physics_ttbb_13TeV/code/Run2015D_766result/Run2015_crab_results.tgz

---

-bash-4.1$ crab report crab_v7-6-6_SingleElectron_Run2015C_25ns-16Dec2015-v1
Will save lumi files into output directory /afs/cern.ch/work/y/youngjo/13TeV/CAT766/cattools/src/CATTools/CatProducer/prod/crab_v7-6-6_SingleElectron_Run2015C_25ns-16Dec2015-v1/results
Summary from jobs in status '

[2016-06-27 06:05] geonmo commented on #583
DashBoard link : http://dashb-cms-job-task.cern.ch/dashboard/templates/task-analysis/#user=Young-Kwon+Jo&refresh=0&table=Mains&p=1&records=200&activemenu=1&pattern=*crab_v7-6-6*&task=&from=&till=&timerange=lastMonth

[2016-06-27 08:59] YoungKwonJo commented on #583
http://youngjo.web.cern.ch/youngjo/physics_ttbb_13TeV/code/Run2015D_766result/Run2015_crab_results201606287.tgz

---

-bash-4.1$ crab report crab_v7-6-6_SingleMuon_Run2015C_25ns-16Dec2015-v1
Will save lumi files into output directory /afs/cern.ch/work/y/youngjo/13TeV/CAT766/cattools/src/CATTools/CatProducer/prod/crab_v7-6-6_SingleMuon_Run2015C_25ns-16Dec2015-v1/results
Summary from jobs in status

[2016-06-27 09:37] jhgoh commented on #583
Summarizing lumiCalc results

[code]

[2016-06-27 10:18] YoungKwonJo commented on #583
a command for getting output-path in kisti.

updated it the googleDocument.
https://docs.google.com/spreadsheets/d/1rWM3AlFKO8IJVaeoQkWZYWwSvicQ1QCXYSzH74QyZqE/edit#gid=183143795

[2016-06-27 12:27] jhgoh commented on #583
The lumis above are SILVER. I'll update numbers for the golden as well

[2016-06-27 12:37] YoungKwonJo commented on #583
make sure to remove the bad LS
add the usage recipe.

[2016-06-27 13:46] YoungKwonJo commented on #583
Now, crab-job is submitted again for ttbar, ttV, and ttH datasets as related new genTop as https://github.com/vallot/CATTools/pull/585/commits/d71a05338d51110cf1a6b32d9e0065d7ac22620d

https://github.com/vallot/CATTools/blob/cat80x/CatProducer/prod/submitCrab3.py#L117-119
I used the submit-code as above with the update as like following.

[2016-06-27 14:05] YoungKwonJo commented on #583
https://github.com/vallot/CATTools/blob/d71a05338d51110cf1a6b32d9e0065d7ac22620d/DataFormats/src/GenTop.cc#L678
It is a bug. I found error message as 139 - Segmentation violation (ANSI).

[2016-06-27 14:14] jhgoh commented on #583
LS for the golden JSON are updated in the speadsheet.
Updating JSON script to enable various operators to enable bad-lumi-filtered JSON.

[2016-06-27 15:05] jhgoh commented on #583
JSON manipulator script is ready, to be added into hep-tools.
lumis after filtering to be updated.

[2016-06-27 15:34] jhgoh commented on #583
spreadsheet is updated. lumis without veto are available in "Comment" column.

[2016-06-30 10:28] jhgoh commented on #583
Changed lumi in spreadsheet, put the usual golden JSON based lumi. The lumi without BS problem goes to comment column since the recipe depends on trigger selection.

Electrons and TkIsoMu are affected. IsoMu is OK.
Photons,PFJet,HT are not affected

Solutions depends on POG/PAG - remove runs/increase syst. unc/compute SF

[2016-07-05 14:34] jhgoh commented on #583
Production is finished. closing this issue.

[2016-07-05 14:34] #583 closed, assigned to nobody

[2016-07-05 14:36] jhgoh commented on #577
The latest JSON to cover all Run2016B is arrived and we also have Run2016C.
New JEC V6 is also available as well as the uncertaintySources txt file

The prod v800 is going to be resubmitted to include all changes.

[2016-07-05 17:50] jhgoh commented on #577
runtests OK, proceeding to the job submission.

[2016-07-05 18:09] jhgoh commented on #577
Job monitoring https://dashb-cms-job-task.cern.ch/dashboard/templates/task-analysis/#user=Junghwan+Goh&refresh=0&table=Mains&p=1&records=25&activemenu=2&pattern=160705_*jhgoh_crab_v8-0-0*&task=&from=2016-07-05&till=2016-07-06&timerange=lastMonth

[2016-07-06 15:10] jhgoh commented on #577
Job status check
- [x] crab_v8-0-0_DoubleMuon_Run2016C-PromptReco-v2
- [x] crab_v8-0-0_SinglePhoton_Run2016C-PromptReco-v2
- [x] crab_v8-0-0_ST_s-channel_4f_leptonDecays_13TeV-amcatnlo-pythia8_TuneCUETP8M1
- [x] crab_v8-0-0_ST_t-channel_antitop_4f_leptonDecays_13TeV-powheg-pythia8_TuneCUETP8M1
- [x] crab_v8-0-0_ST_t-channel_top_4f_leptonDecays_13TeV-powheg-pythia8_TuneCUETP8M1
- [x] crab_v8-0-0_ST

[2016-07-08 01:37] jhgoh commented on #577
Disk usage (there are remaining 67 files, no QCD TTbarDMJets samples)
Total 7.68 TByte

[code]

[2016-07-08 01:46] jhgoh commented on #577
Event content size (ttbar powheg)

[code]

[2016-07-09 10:36] jhgoh commented on #577
Note on the event content: I added "*_matchedGen*Hadron_*_*" in this production. This is one of the input objects to the genTop and event categorization. Also one can extract b/c jet mothers.

But as you can see in the size information, it takes more than 15% in size, so I think it's hard to keep them in the next official prod.

[2016-07-09 10:48] jhgoh commented on #577
The production is almost finished, missing only 1 job section for SingleMuon dataset out of 1305. (=4.3 /pb out of 5.869 /fb, ~0.07%)
The dataset information in the spreadsheet is going to be updated.

I'm resubmitting jobs continuously, but anyway we can start to see the data.

[2016-07-09 11:54] jhgoh commented on #577
Job failure due to the electron ID.

[code]

Electron producer tries to find " cutBasedElectronID-Spring15-25ns-V1-standalone-loose". Isn't it automatically match with "cutBasedElectronID_Spring15_25ns_V1_standalone_loose"?

[2016-07-09 11:59] jhgoh commented on #577
This file was OK:

[code]

Failure came out when processing this file:

[code]

[2016-07-09 12:02] YoungKwonJo commented on #577
For electron,
https://github.com/vallot/CATTools/blob/cat80x/CatProducer/python/electronProducer_cfi.py#L11-19
please check the lines for ID.

[2016-07-09 12:06] YoungKwonJo commented on #577
it looks very strange. it means different electron-IDs in same dataset for each files.

[2016-07-09 12:16] jhgoh commented on #577
@YoungKwonJo It's strange, indeed. Error comes out from one event. I'm thinking to report through some HN later.

[2016-07-12 07:27] jhgoh commented on #577
@brochero quite large portion of additional production for WJets(731/733), ttbar L+J(1790/1796) are available.
I'm going to finalize the dataset maybe in this afternoon, but you can use it anyway.

[2016-07-12 07:30] jhgoh commented on #577
You can run the catGetDatasetInfo command yourself, but the frozen list is already available https://github.com/vallot/CATTools-dataset/tree/v800

[2016-07-12 09:29] brochero commented on #577
@jhgoh Thanks! I will process it.

[2016-07-12 09:48] jhgoh commented on #577
Finishing the production.
https://docs.google.com/spreadsheets/d/1rWM3AlFKO8IJVaeoQkWZYWwSvicQ1QCXYSzH74QyZqE/edit?pref=2&pli=1#gid=1203220026

Summary of missing job sections:
- SingleMuon_Run2016B: 1/1305 missing, missing lumi=4.3/pb, 0.07%
- TT_powheg: 1/3919 missing
- TTJets_aMC: 1/800 missing
- TTLJ_powheg: 1/1796 missing

Validation jobs are running on condor farm.

[2016-07-12 16:46] jhgoh commented on #577
Some events in ttbar-dilepton exclusive sample are classified as ttbar-others using the partonTop producer. This is because the tau-hadronic decay are "leptonic" in the powheg generator, but we treat them as "hadronic" from the analysis point of view.

[2016-07-15 09:41] jhgoh commented on #577
Closing this issue. Additional productions can happen later to include the QCD samples

[2016-07-15 09:41] #577 closed, assigned to nobody

[2016-08-04 12:04] brochero opened #599 "Production wiki in English"
Can we have a English version of:
https://github.com/vallot/CATTools/wiki/CatProduction

[2016-08-05 09:55] jshlee commented on #599
+1

[2016-08-05 22:49] jhgoh opened #600 "Post-ICHEP production v801"
We are going to produce new sample for post-ICHEP period.
- Summary of MiniAOD recipes: [CATToolsTopAnalysis](https://twiki.cern.ch/twiki/bin/view/CMS/CATToolsTopAnalysis)
- Spreadsheet : [#gid=1981960528](https://docs.google.com/spreadsheets/d/1rWM3AlFKO8IJVaeoQkWZYWwSvicQ1QCXYSzH74QyZqE/edit#gid=1981960528)
- JSON file [Cert_271036-277148_13TeV_PromptReco_Collisions16_JSON.txt](https://cms-servi

[2016-08-06 06:42] geonmo commented on #599
Hello, I made a draft verion about Production wiki's English version.
https://github.com/vallot/CATTools/wiki/CatProduction-in-English

[2016-08-06 08:59] jhgoh commented on #600
CMSSW recipes are updated https://github.com/vallot/cmssw/pull/18

[2016-08-09 12:38] hcwhwang commented on #600
Checked newest JSON file  [Cert_271036-277148_13TeV_PromptReco_Collisions16_JSON.txt](https://cms-service-dqm.web.cern.ch/cms-service-dqm/CAF/certification/Collisions16/13TeV/Cert_271036-277148_13TeV_PromptReco_Collisions16_JSON.txt)
Not included in CATTools yet. Will be added.
New pileup weight values should be calculated.

[2016-08-10 08:18] jhgoh commented on #599
Should we remove Korean version of the wiki page? or keep both?

[2016-08-10 08:19] jhgoh commented on #600
JSON file and updated PU weights are calculated. They are standing in #605

[2016-08-10 09:21] jhgoh opened #606 "File size reduction"
catTuple size is increasing compared to the early period.
The total size is manageable for now, but it will be a serious problem at the end of the Run-II.

[2016-08-10 09:49] jhgoh commented on #606
For the 800 production (selecting items >~100Bytes/Event):
- DYJets MC background

[code]
- DoubleEG real data

[code]
- TTJets signal MC
  - matchGenJets were included only for a size estimation, they will not be included in the central prod

[code]

[2016-09-26 07:27] YoungKwonJo opened #613 "b-tagging SFs with BTV HIP mitigation"
latest b-tagging SFs with BTV HIP mitigation here.

/afs/cern.ch/user/l/lwming/public/csvSFs2016/HIP_12p9_9_7_set/

There were calculated using the full ICHEP datasets(BCD, 12.9/fb), and BTV HIP mitigation is applied to both Data and MC

[2016-09-26 07:39] YoungKwonJo commented on #613
/afs/cern.ch/user/l/lwming/public/csvSFs2016

[2016-10-31 13:21] jshlee commented on #599
i think having just an english page would be better

[2016-10-31 13:21] jshlee commented on #600
will close this, as the new prod is running

[2016-10-31 13:21] #600 closed, assigned to nobody

[2016-10-31 13:27] jshlee commented on #606
the catSecVertexs can be reduced
we could increase the pt cut of all objects

[2016-10-31 13:27] jshlee commented on #613
what is the status of this???

[2016-11-01 05:50] YoungKwonJo commented on #613
https://indico.cern.ch/event/565329/contributions/2283640/attachments/1326958/1992396/BTV_HIPrepord_PPD.pdf

I also sent forward of few messages from TTH group to cat-tools@cern.ch.

[2016-11-01 20:08] jhgoh opened #624 "Recipes for MiniAOD 80X version3"
Need to follow up recipes to use MiniAOD 80X version3
https://twiki.cern.ch/twiki/bin/view/CMSPublic/WorkBookMiniAOD#Run2016_23Sept2016_ReReco_80X_ve

Changes will be summarized in https://twiki.cern.ch/twiki/bin/viewauth/CMS/CATToolsTopAnalysis

[2016-11-02 06:17] jshlee commented on #624
yep this will be done for the next prod v8-0-3

[2016-11-10 09:17] #512 closed, assigned to nobody

[2016-11-10 13:49] jhgoh commented on #613
The "new" SF from TTH group(Nov.1) is to be retrieved from /afs/cern.ch/user/l/lwming/public/csvSFs2016/HIP_12p9_9_7_set/

[2016-11-18 10:09] jhgoh commented on #624
spreadsheet is created https://docs.google.com/spreadsheets/d/1rWM3AlFKO8IJVaeoQkWZYWwSvicQ1QCXYSzH74QyZqE/edit#gid=1456963899

[2016-11-19 12:37] jshlee commented on #624
all the MCs need to be updated

[2016-11-23 11:27] jhgoh commented on #624
I think most of recipes (up to now) which have to be applied at the production level are done.
MCs are to be updated later.

[2016-11-23 11:28] jshlee commented on #624
we can start with RD prod

[2016-11-23 11:47] jshlee commented on #599
@geonmo - can you do this

[2016-11-23 11:47] jshlee commented on #624
i would like the quark gluon ID to be updated if needed.

[2016-11-23 11:50] jhgoh commented on #624
catTrigger producer does not save trigger bits for now. BadMuon/BadChargedHadron filters are not saved.

[2016-11-23 11:53] jshlee commented on #624
why not??

[2016-11-23 11:54] jshlee commented on #606
the additional recoGenParticles can be changed to links
i sure catGenTops can be reduced a lot, but since it's only used on top mc

[2016-11-23 11:58] jhgoh commented on #624
MET filter names are commented out in catTrigger producer cfi.
https://github.com/vallot/CATTools/blob/cat80x/CatProducer/python/producers/triggerProducer_cfi.py
Instead of catTrigger producer, we are keeping the original TriggerResults. (no information loss)

BadMuon/Ch.Hadron filters are produced with EDProducers, 'keep bool_BadMuonFitler_*_*' is missing in catEventContent_cff.py

[2016-11-23 12:00] jshlee commented on #624
original TriggerResults was quite large

[2016-11-23 12:14] jhgoh commented on #624
We are keeping original TriggerResults anyway. Switch to catTrigger?

[code]

[2016-11-23 12:17] jshlee commented on #624
nah its ok

[2016-11-23 12:19] jshlee commented on #624
@geonmo - is both catSecVertexs and catDstars needed?
can you merge into one and reduce size by placing tighter cuts

[2016-11-24 04:51] jhgoh commented on #613
Recipe for the workarea setup is created. https://github.com/vallot/CATTools/wiki#2016-december-v8-0-3-in-preparation
This is not final recipe.

[2016-11-24 04:52] jhgoh commented on #624
Recipe for the workarea setup is created. https://github.com/vallot/CATTools/wiki#2016-december-v8-0-3-in-preparation
This is not final recipe.

[2016-11-24 13:18] jhgoh commented on #613
Can be done in analysis level - to be done in parallel to the new production,.

[2016-11-24 14:41] jhgoh commented on #624
Pseudotop fix (already known issue) is merged to cmssw PR.

[2016-11-25 11:42] jhgoh commented on #606
Sizes of catTuples up to now
size/event uses only one file.

(prod) (total size in TByte) (RD size/event) (TTJets size/event) (DYJets size/event)
  * 73X productions
[code]
  * 74X productions
[code]
  * 76X productions
[code]
   * 80X productions
[code]

[2016-11-25 11:47] jshlee commented on #606
i think just comparing size per event is better

[2016-11-25 11:49] jhgoh commented on #606
@jshlee this is to estimate disk space consumption

[2016-11-25 11:50] jalmond commented on #606
I was about to make the same comment. Since for example in v802 vs v801 the number of events in the DYJets sample changed from 28696958 to 104113466. So per event would be best.

On 25 Nov 2016, at 12:47, Jason Lee <notifications@github.com<mailto:notifications@github.com>> wrote:

i think just comparing size per event is better

—
You are receiving this because you are subscribed to this thread.

[2016-11-25 13:36] jhgoh commented on #624
CMSSW part seem to be complete. closing this issue.

[2016-11-25 13:36] #624 closed, assigned to nobody

[2016-11-25 14:58] jhgoh opened #633 "invalid p4 in electrons"
some electron have invalid four momentum, nan
Can be from smearing.

[2016-11-25 16:44] jhgoh commented on #633
nan occurs for the soft electrons, pT < 5GeV where the smearing does not work.
discussion and solution from HN: https://hypernews.cern.ch/HyperNews/CMS/get/egamma/1682/2/1/1/1.html

A PR is under preparation, fall back to original p4 when nan appears.

[2016-11-25 16:45] jshlee commented on #633
can we just drop pT < 5GeV electrons? does anyone use this?

[2016-11-25 16:51] jhgoh commented on #633
No one, as far as I know. Jpsi anlaysis?

[2016-11-25 16:54] jshlee commented on #633
nope
electrons are not used to make Jpsi

[2016-11-25 17:01] jhgoh commented on #606
There is a suggestion to drop soft objects pT < 5.
  * Avoid invalid p4 assignment in electrons #633
  * Size reduction by killing never-used objects.

[2016-11-25 17:06] jhgoh opened #634 "Jet pt mismatch after genJet clustering"
Lots of warning messages from flavour assignment. We ignored these msgs.
Can somebody have a detailed look?

[code]

[2016-11-26 04:26] jshlee commented on #634
i think youngkwon knows about this

[2016-11-26 04:45] jshlee commented on #606
Isolation variables -does anyone use the individual pf isolation values separately? ie chargedHadronIso03_. i think these can be removed

does anyone use mcMatched_?

[2016-11-27 06:37] jhgoh commented on #633
Closing this issue. pt cuts will be discussed in different issue.

[2016-11-27 06:37] #633 closed, assigned to nobody

[2016-11-28 15:55] jshlee commented on #606
why is RD bigger than DY?

[2016-12-01 05:23] geonmo commented on #599
Well, I changed title **Production in English** to **Production**. Maybe, it is better to remove korean page but I kept that.

[2016-12-01 05:24] geonmo commented on #599
If anyone do not have a comment, I will close this issue before tomorrow.

[2016-12-01 05:26] geonmo commented on #606
#640 has been proposed.

[2016-12-02 06:01] #599 closed, assigned to geonmo

[2016-12-06 18:44] jhgoh opened #643 "PostICHEP recommendations"
v803 is under production, but we still have remaining recipes to be applied, to be done in the next round.
https://twiki.cern.ch/twiki/bin/view/CMS/CATToolsTopAnalysis#Setup_for_2016_analysis_Moriond1

(item, source twiki page, current page version/date, done in v803 version/date)
- [x] Final 2016 JSON file. source: PdmV2016Analysis(2016-12-06,r111<-2016-11-22,r105)
- [x] MET filter update. source

[2016-12-08 12:41] jhgoh commented on #643
[code]

[2016-12-16 05:55] jhgoh commented on #643
Recipe to apply DeepFlavour https://twiki.cern.ch/twiki/bin/view/CMS/DeepFlavour

[2016-12-20 07:53] jshlee commented on #634
whats the progress on this?

[2017-01-11 07:04] jhgoh commented on #643
Diff. of twiki pages to be checked

- https://twiki.cern.ch/twiki/bin/rdiff/CMS/MissingETOptionalFiltersRun2?rev1=103&rev2=102
- https://twiki.cern.ch/twiki/bin/rdiff/CMS/SWGuideMuonIdRun2?rev1=28&rev2=26
- https://twiki.cern.ch/twiki/bin/rdiff/CMS/EGMSmearer?rev2=23
- https://twiki.cern.ch/twiki/bin/rdiff/CMS/CutBasedElectronIdentificationRun2?rev1=41&rev2=39
- https://twiki.cern.ch/twiki/bin/rdi

[2017-01-12 14:03] jhgoh commented on #643
Remaining recipes
- [x] Electron "residual scale correction" - unclear to retrieve ebrechits collection in the example code https://twiki.cern.ch/twiki/bin/view/CMS/EGMSmearer
- [x] The txt file for the JES uncertainty can be incorrect.
- [x] weights for the hdamp variation - https://twiki.cern.ch/twiki/bin/view/CMS/TopSystematics#Matrix_element_Parton_Shower_ME

[2017-01-13 04:30] jhgoh commented on #643
We have been using weights from externalLHEProducer. no change needed in production level.

[2017-01-13 07:32] jhgoh commented on #613
Seems to be there's updated version for 36.5fb under /afs/cern.ch/user/l/lwming/public/2017csvSFs

[2017-01-13 08:24] jhgoh commented on #613
A PR to solve this problem is made and merged. Closing this issue.

[2017-01-13 08:24] #613 closed, assigned to nobody

[2017-01-17 17:22] jhgoh commented on #643
Close this issue to start from clean page.

[2017-01-17 17:22] #643 closed, assigned to nobody

[2017-02-06 16:10] jhgoh opened #662 "Create anlaysis recipe page"
The recipe in the wiki page is for the catTuple production, usually it is not needed for the ordinary analyzers.
It's better to set up light-weight recipe to read catTuple and apply up-to-date version of catTools.

[2017-02-10 19:46] jhgoh commented on #662
Done.
- production recipes are moved to campaigns-* pages.
- main page shows short recipe for the ordinary analyzers

[2017-02-10 19:46] #662 closed, assigned to nobody

[2017-03-15 12:27] jhgoh opened #679 "Broken files"
We discovered that there can be some troubles to read specific objects in some files.

Problem to read catGenTops, there were no problem to read other objects.
[code]

[2017-03-15 17:31] JaehoonLim commented on #679
TTTT samples run completely without segmentation error when I remove genTopProducer.
It seems this is not same problem but would you check it too?

[2017-03-16 03:49] jhgoh commented on #679
@JaehoonLim this is addressed in #680. A crab job is submitted to be included in the v806 prod. http://dashb-cms-job.cern.ch/dashboard/templates/task-analysis/#user=jhgoh&table=Mains&pattern=170316_033329%3Ajhgoh_crab_v8-0-6_TTTT_TuneCUETP8M2T4_13TeV-amcatnlo-pythia8

[2017-03-16 10:01] jhgoh commented on #679
@JaehoonLim prod for the FourTops are finished.

[2017-03-18 05:31] jhgoh commented on #679
I'll move those files to the "broken" directory. We will not loose statistics that much.

[2017-03-18 05:45] jhgoh commented on #679
files are moved, closing this issue.

[2017-03-18 05:45] #679 closed, assigned to nobody

[2017-03-27 05:43] jhgoh opened #682 "Missing files from catGetDatasetInfo"
There was an issue to list up catTuple files.
the xrd command was not able to list up files under a symbolic link in the file server and some files were not included in the file list from the catGetDatasetInfo.

This issue is solved (2017 March 27 14:30, KST) by @geonmo
The effect should be very small for the analysis.

Affected samples:
  - WW (4 files -> 10 files)
  - WWTo2L2Nu (12 files -> 23 f

[2017-03-27 05:43] jhgoh commented on #682
Solved.

[2017-03-27 05:43] #682 closed, assigned to nobody

[2017-04-20 04:51] gbyu opened #685 "Adding deep flavor tagging information for b/c-tagging"
As of 84x and 90x or later version, deep flavor is included in the release by default.  Before that version, for example 8_0_21 or later, b-tagging codes needs to be downloaded individually ( https://twiki.cern.ch/twiki/bin/view/CMS/DeepFlavour#DeepFlavour_recipe_for_8_0_X_X_2)

The tagger names in 8_0_21 are:
 - btagging: deepFlavourJetTags:probudsg, deepFlavourJetTags:probb, deepFlavourJetTags:p

[2017-04-20 05:54] jhgoh commented on #685
To be enabled in this cff file
- https://github.com/vallot/CATTools/blob/cat80x/CatProducer/python/patTools/jetDeepFlavour_cff.py

[2017-04-20 05:55] jhgoh opened #686 "90X branch"
Maybe we need new branch cat90x for the 2017 analysis.

[2017-05-11 14:37] jhgoh opened #694 "Use ParticleLevelProducer"
The new PseudoTop implementation is about to be ready.

https://github.com/cms-sw/cmssw/pull/18402

Better to use this.

[2017-06-11 04:38] jhgoh opened #699 "v807 production recipe"
The production recipe is to be simplified

[2017-06-14 12:03] jhgoh opened #700 "Apr 2017 legacy rereco sample"
https://cmsweb.cern.ch/das/request?view=list&limit=50&instance=prod%2Fglobal&input=dataset+dataset%3D%2F*%2FRun2016*Apr2017-v*%2FMINIAOD

The rereco sample is available in the DAS, new JSON file is expected someday.
https://hypernews.cern.ch/HyperNews/CMS/get/offline-dqm/671/1.html

[2017-06-16 13:14] jhgoh commented on #685
we can close this issue.

[2017-06-16 13:14] #685 closed, assigned to nobody

[2017-06-23 04:16] jhgoh commented on #700
Created new tab https://docs.google.com/spreadsheets/d/1rWM3AlFKO8IJVaeoQkWZYWwSvicQ1QCXYSzH74QyZqE/edit#gid=1509514319

DoubleEG_Run2016G, MuonEG_Run2016B is not visible yet

[2017-06-29 08:11] jhgoh commented on #700
Completed to fill up all rereco samples.

[2017-06-29 08:11] #700 closed, assigned to nobody

[2017-06-29 14:02] jhgoh commented on #699
The recipe is being updated. https://github.com/vallot/CATTools/wiki/Campaigns-80X#2017-june-v8-0-7

[2017-08-20 12:07] jhgoh commented on #699
DeepFlavour was not actually stored in 806.
https://twiki.cern.ch/twiki/bin/view/CMS/DeepFlavour

For the release later than 8027, tagger name is changed
deepFlavourJetTags -> pfDeepCSVJetTags
deepFlavourCMVAJetTags -> pfDeepCMVAJetTags.

Additional recipe for the CMSSW
[code]

Done in #717

[2017-08-20 12:25] jhgoh commented on #699
Dataset information:
  * Data reprocessing information: https://twiki.cern.ch/twiki/bin/view/CMS/PdmVDataReprocessing
    * Latest rereco: https://twiki.cern.ch/twiki/bin/view/CMS/PdmVDataReprocessing8029Run2016Legacy
    * Release=CMSSW_8_0_29, GT=80X_dataRun2_2016LegacyRepro_v4
  * Lumi information: https://twiki.cern.ch/twiki/bin/view/CMS/TWikiLUM
    * brilcalc lumi --normtag /afs/cern.ch/user

[2017-08-20 12:37] jhgoh commented on #699
Pileup information (unchanged from the last prod)
  * https://twiki.cern.ch/twiki/bin/view/CMS/PileupJSONFileforData#Pileup_JSON_Files_For_Run_II
  * minBias xsec=69200nb, down=66016nb, up=72383nb (4.6% uncertainty)
  * Implemented in python/pileupWeight/pileupWeight2016_cff.py

[2017-08-20 12:41] jhgoh commented on #694
PR already created. closing this issue and to be tracked in #699

[2017-08-20 12:41] #694 closed, assigned to nobody

[2017-08-20 12:55] jhgoh commented on #699
The new ParticleLevelProducer have been integrated to 8029.

[2017-08-20 12:59] jhgoh commented on #699
Event filters
Event filters (mostly unchanged, double check if the flags are already in the data MiniAOD)
 * https://twiki.cern.ch/twiki/bin/viewauth/CMS/MissingETOptionalFiltersRun2#Moriond_2017
 * Data:  Flag_globalTightHalo2016Filter, Flag_HBHENoiseFilter, Flag_HBHENoiseIsoFilter, EcalDeadCellTriggerPrimitiveFilter, Bad PF Muon Filter (on the fly?), Bad Charged Hadron Filter  (on the fly?), ee

[2017-08-23 20:17] jhgoh commented on #699
CSV weight had to be updated.
https://gitlab.cern.ch/ttH/reference/blob/master/definitions/Moriond17.md#63-csv-scale-factors
A separate PR #718 is made for this analysis-only change

[2017-08-23 20:17] jhgoh commented on #699
brilcalc have been updated to 1.1.7 from 1.0.3. Change of normtag location had to be updated as well.
PR done in https://github.com/cms-kr/hep-tools/pull/65

[2017-08-23 20:17] jhgoh commented on #699
Electron regression & smearing (already implemented in the CATTools configuration)
  * (TBA) Deterministic smearing by ttH group https://gitlab.cern.ch/ttH/reference/blob/master/definitions/Moriond17.md
[code]

[2017-08-23 20:17] jhgoh commented on #699
B tagging working points (unchanged, no effect on the production although it is written in the dataformat)
  * https://twiki.cern.ch/twiki/bin/view/CMS/BtagRecommendation80XReReco
Note: Tight WP of CvsB is even less than the loose WP, since this WP is more focused to remove light flavour jets

[2017-08-29 11:21] jhgoh commented on #699
Checking the HEEPV70 electron ID
  * https://twiki.cern.ch/twiki/bin/view/CMS/HEEPElectronIdentificationRun2
[code]

[2017-09-01 13:33] jhgoh commented on #699
Two direct commits from @monttj mostly for the GenTop (includes DataFormat chage)
- https://github.com/vallot/CATTools/commit/9a3190bae1802ef234b1d62b8a2c334eef7c6960
- https://github.com/vallot/CATTools/commit/5ea975254e35553b6e1084fa9e295756c785c64c

[2017-09-15 12:21] jhgoh commented on #699
Basically 807 recipe is finalized and already started. Closing this issue.

[2017-09-15 12:21] #699 closed, assigned to nobody

[2017-12-13 15:16] jhgoh commented on #686
Done. 9XY PRs should to into cat90x branch.

[2017-12-13 15:16] #686 closed, assigned to nobody

[2018-02-05 17:01] jhgoh opened #725 "cat94x branch"
@minerva1993 is testing CATTools with CMSSW_9_4_0 to analyze 2017 dataset.
(EOY2017 rereco and its certification is done, EOY MC production campaign is also available).

There is cat90x branch but it turned out that there need some modifications because of gcc version.
I think having cat94x branch will be more clear to avoid confusions.

[2018-02-05 17:11] jhgoh commented on #725
on the other hand, maybe we can consider to include #719 or other ideas from this release

[2018-02-05 17:24] jhgoh commented on #725
A branch with fixes are made : https://github.com/jhgoh/CATTools/tree/cat94x

[2018-08-27 01:13] geonmo commented on #725
Dear all,

I found some error at cat94x branch.

I guess that "numberOfAllHits" function is not working at CMSSW_9_2_14 release.

[code]

[2019-01-14 06:45] jhgoh commented on #725
we moved to 10x. close this issue.

[2019-01-14 06:45] #725 closed, assigned to nobody

[2019-01-16 06:55] monttj opened #745 "things to clean up"
V10 for 2018-year data analysis
1. need to clean up the old recipe for jet smearing and b-tagging scale in Jet.cc --> Jiwon Park
2. need to clean up electron scale factor in Electron.cc in DataFormat --> Jiwon Park
3. clean up Analyzer, send announcement --> Taejeong
4. remove BadECALSlewRateMitigationFilter2016.cc and related configuration files such as metFilters_cff.py and other files (need to

[2019-01-16 07:02] minerva1993 commented on #745
Is there anyone knows the purpose of the lines here:
https://github.com/vallot/CATTools/blob/cat10x/CatProducer/plugins/CATElectronProducer.cc#L323-L352

[2019-01-16 08:15] jhgoh commented on #745
These HLT-confirmation cuts had to be applied to use MVA ID because ID is optimized on top of those cuts.

[2019-01-16 08:20] minerva1993 commented on #745
https://twiki.cern.ch/twiki/bin/view/CMS/MultivariateElectronIdentificationRun2Archive#Triggering_electron_MVA_details

It seems the recipe is outdated. Do we need to keep those cuts?

[2019-01-16 08:23] jhgoh commented on #745
this was necessary re-HLT samples in the past.
Anyway, this does not change event size in usual cases.

This keeps trigger objects, necessary if you want to to trigger object - physics object matching in your analysis.

This can be removed if you don't have plan for the pseudo-top related analysis.

All items related with Jpsi/D*/D0. UoS already switched to NanoAOD.

[2019-01-16 10:42] minerva1993 commented on #745
Quick check on the event size:
drop photon, gen jet, gen particle, particle level, pat triggers -> 8.5 KB / event (TTbar sample)
drop photon, gen jet, gen particle, particle level -> 8.8 KB / event
current setting (no sec. vertex): 12 KB / event

[2019-01-16 12:30] minerva1993 commented on #745
https://github.com/minerva1993/CATTools/commit/2a856414dfa91f7110747d4ba37ef39d61897da4
I didn't make PR yet, but here's some removals and modifications for cat10x.

[2019-01-16 14:16] jhgoh commented on #745
quickly checked this thread and the proposed code changes above.
If the purpose is just focus on latest recipe and prune out legacy ones this (and others) can be safely removed.

[2019-02-10 18:11] #606 closed, assigned to nobody

[2019-02-10 18:11] #634 closed, assigned to nobody

[2019-04-30 05:25] minerva1993 commented on #745
All those recommendations are updated in cat10x and some of them are propagated to 90x as well. Now we can close this issue.

[2019-04-30 05:25] #745 closed, assigned to nobody